{% extends "imrunicorn/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-12">
	    <p style="text-shadow: 4px 3px 5px #CE5937;
		      font-family: 'Comic Sans MS', cursive, sans-serif;
		      font-size: 33px;
		      font-weight: 400;">Oops!</p>
	    </p>Something dind't go as planned.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
	    <p style="text-shadow: 4px 3px 5px #CE5937;
		      font-family: 'Comic Sans MS', cursive, sans-serif;
		      font-size: 33px;
		      font-weight: 400;">Lorem Ipsum makes as much sense as your search..</p>
	    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis, eros sed placerat sodales, orci arcu commodo purus, quis consequat neque lacus ac urna. Nullam mattis felis non ullamcorper semper. Nulla lobortis tincidunt sem, at rutrum tortor rhoncus a. Vestibulum nunc nisi, dictum sit amet dictum ut, mattis non erat. Mauris eget purus commodo, ultrices nisl porttitor, fermentum leo. Nulla odio dui, porttitor accumsan odio sit amet, molestie interdum felis. Aliquam dictum ultricies venenatis. Curabitur quis purus ac massa tempor mattis in eget neque.

	    </p>
	    <p>
Etiam sed risus blandit, mollis nibh a, tempus felis. Donec neque ante, scelerisque semper sagittis ut, dictum sed nunc. Curabitur interdum risus sit amet tempus fermentum. Proin sed tincidunt ipsum. Nulla facilisi. Pellentesque ac quam sapien. Sed luctus egestas justo, ac ornare tortor convallis eget. Donec eu nibh pulvinar, ultrices dolor non, congue lectus. Nullam condimentum porttitor leo, non malesuada velit aliquam ut. Vestibulum a dictum mi. Curabitur rutrum consectetur tortor, nec eleifend dui vestibulum sit amet. Proin a tellus accumsan, vehicula quam quis, aliquam leo. Quisque et risus sit amet nisl laoreet lobortis. Donec pharetra luctus varius.

	    </p>
	    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula arcu, hendrerit at quam feugiat, convallis mollis tortor. Vestibulum semper orci sed lacus imperdiet, sed egestas risus ullamcorper. Donec id dapibus libero. In finibus congue viverra. In hac habitasse platea dictumst. Donec id turpis et libero condimentum auctor. Vivamus volutpat in est a tristique. Praesent id sagittis justo. Maecenas id lorem tempor, rutrum lacus vel, aliquam orci. Sed ullamcorper fermentum mi. Praesent nulla ligula, molestie id nibh at, placerat auctor ex.

	    </p>
	    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in arcu eleifend tortor convallis lacinia ut quis turpis. Sed tristique elit turpis, ut cursus ipsum porttitor vitae. Ut in ligula in elit lacinia facilisis et vel velit. Nam a consectetur odio, quis volutpat turpis. Vivamus eu metus tellus. Etiam interdum varius lectus et viverra. In gravida nisi et imperdiet imperdiet.

	    </p>
	    <p>
Nulla dictum massa sit amet dolor pharetra scelerisque. Pellentesque vestibulum lobortis est, a convallis massa ultrices at. Nam at hendrerit risus. Nulla congue eu urna ac laoreet. Curabitur ac blandit purus. Ut non lacinia magna, quis sagittis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc scelerisque cursus augue, nec aliquam neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque malesuada, mi ac commodo finibus, orci lacus malesuada nunc, vel egestas mauris quam id odio. Sed placerat erat vitae purus tincidunt porta. Nam congue lectus a arcu congue, in viverra nibh semper.

	    </p>
    </div>
</div>


{% endblock %}
