{% extends "imrunicorn/layout.html" %}

{% block extra_head %}


{% comment %}
<style>
.newspaper {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
}
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>
{% endcomment %}


{% endblock %}

{% block content %}
{% load humanize %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'loaddata/chart_menu.html' %}
        </div>
    </div>
</div>
<br />

<div class="row ben_format_pretty">
    <div align="center">
        <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">

            Please make sure the caliber isn't already listed. The list sorted by diameter and shows what is pending approval.
            When you enter form it will be tagged with your account as the author of that caliber. It will not be listed
            as an option until after it's approved.<br /><br />
            Once the caliber is approved, it will not be displayed as who submitted it. It's just to prevent spamming.
            I'll disable the account if I start getting too many pending approvals (or trash data) from a user.
            <br /><br /><br />

            <div align="left">
                <select id="choices">
                    <option value="">---------</option>
                    {% for caliber in all_calibers %}
                        <option value="{{ caliber.name }} - {{ caliber.diameter }}">
                        {{ caliber.name }} - {{ caliber.diameter }}
                        {% if caliber.is_approved == False %}
                            ( Pending approval, submitted by user id: # {{ caliber.author_pk }} )
                        {% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
<br /><br /><br />
            <div align="left">
                <form method="POST"> {% csrf_token %}
                    {{ form.as_p }}
                    <b>Is Approved:</b> False (Pending Approval)<br/>
                    <b>User Id:</b> {{ user.pk }} <br/>
                    <b>User Name:</b> {{ user }} <br/>
                    <br/>
                    <input type="submit" value="Save" />
                </form>
            </div>



        </div>



    </div>
    </div>
</div>

{% endblock %}
