<a href="{% url 'load_data:loads' %}">Load Data: All</a> |
<a href="{% url 'load_data:loads' load_type='ocw' %}">Load Data: OCW</a> |
<a href="{% url 'load_data:loads' load_type='sheriff' %}">Load Data: Sheriff</a>
<br />