<a class="dropdown-item" href="{% url 'load_data:create_caliber' %}"> Create Caliber</a> |
<a class="dropdown-item" href="{% url 'load_data:create_powder' %}"> Create Powder</a> |
<a class="dropdown-item" href="{% url 'load_data:create_projectile' %}"> Create Projectile</a> |
<a class="dropdown-item" href="{% url 'load_data:create_firearm' %}"> Create Firearm</a>
<br />