{% extends "imrunicorn/layout.html" %}

{% block extra_head %}


{% comment %}
<style>
.newspaper {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
}
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

</style>
{% endcomment %}


{% endblock %}

{% block content %}
{% load humanize %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
        {{ blurb }}
        {% else %}
        The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}
    </p>
</div>


<div class="row ben_format_pretty">
    <div align="center">
        <div>
            {% include 'loaddata/chart_menu.html' %}
        </div>
    </div>
</div>
<br/>

<div class="row ben_format_pretty">
    <div align="center">
        <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
            <div style="text-align: left;font-family:times new roman;">
                We're adding the an end-user friendly way to CRUD (create, read, update, delete) hand-load components.
                Such as caliber, powder, projectile, and firearms.
            </div>
        </div>
    </div>
</div><br/>

<div class="row ben_format_pretty">
    <div align="center">
        <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
            <div style="text-align: left;font-family:times new roman;">
                Enjoy some lorem for now. <br/><br/>
                {% lorem 8 p %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
