{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}
{% load humanize %}

<div class="jumbotron">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>

<div class="row">
    <div class="col-md-12">

        <table align="center" border="1" width="95%">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                 Owner
             </th>
                <th bgcolor="808080" style="text-align: center">
                 Caliber
             </th>
            <th bgcolor="808080" style="text-align: center">
                Projectile
            </th>
            <th bgcolor="808080" style="text-align: center">
                Powder
            </th>
            <th bgcolor="808080" style="text-align: center">
                FPS
            </th>
            <th bgcolor="808080" style="text-align: center">
                Yld
            </th>
            <th bgcolor="808080" style="text-align: center">
                RPS
            </th>
            <th bgcolor="808080" style="text-align: center">
                DOPE
            </th>
            <th bgcolor="808080" style="text-align: center">
                Details
            </th>
        </tr>

          {% if all_loads != None %}
          {% for load in all_loads %}
          {% if load.Is_Sheriff_Load %}
          <tr bgcolor="#BEBEBE">

              <td style="padding-left:10px">{{ load.firearm.owner.userprofile.preferred_display_name|default:load.firearm.owner.username }}</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:page_firearm_detail' %}{{ load.firearm.pk }}">{{ load.firearm.caliber|upper }}</a></td>

              {% if load.projectile.buy_link != None %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }} <a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a></td>
              {% else %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }}</td>
              {% endif %}

              {% if load.powder.buy_link != None %}
              <td style="padding-left:10px">
                  {% if user.is_authenticated %}
                  {{ load.Powder_Charge }}gr - {{ load.powder.name }} <a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a>
                  {% else %}
                  MEMBERS ONLY
                  {% endif %}
              </td>
              {% else %}
              <td style="padding-left:10px">{% if user.is_authenticated %}
                    {{ load.Powder_Charge }}gr - {{ load.powder.name }}
                  {% else %}
                    MEMBERS ONLY
                  {% endif %}
                  </td>
              {% endif %}


              <td style="padding-left:10px">{{ load.Velocity|floatformat:"0"|intcomma }}
{% if load.Is_Estimated %}~ {% endif %}</td>

              <td style="padding-left:10px">{{ load.prod|floatformat:"0"|intcomma }}
                  {% if load.prod >= 1200 %}<i style="font-size: small" class="fas fa-crown"></i>{% endif %}
                  {% if load.Confirmed_Splat_Factor %}<i style="color:red;font-size: small" class="fas fa-virus"></i>{% endif %}
              </td>
              <td style="padding-left:10px">{{ load.rps|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px">NA</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:loads' %}{{ load.pk }}">Yes</a></td>
          </tr>

          {% else %}

          <tr bgcolor="#F5F5F5">
              <td style="padding-left:10px">{{ load.firearm.owner.first_name }}</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:page_firearm_detail' %}{{ load.firearm.pk }}">{{ load.firearm.caliber|upper }}</a></td>

              {% if load.projectile.buy_link != None %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }}<a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a></td>
              {% else %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }}</td>
              {% endif %}

              {% if load.powder.buy_link != None %}
              <td style="padding-left:10px">
                  {% if user.is_authenticated %}
                  {{ load.Powder_Charge }}gr - {{ load.powder.name }} <a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a>
                  {% else %}
                  MEMBERS ONLY
                  {% endif %}
              </td>
              {% else %}
              <td style="padding-left:10px">{% if user.is_authenticated %}
                    {{ load.Powder_Charge }}gr - {{ load.powder.name }}
                  {% else %}
                    MEMBERS ONLY
                  {% endif %}
                  </td>
              {% endif %}


              <td style="padding-left:10px">{{ load.Velocity|floatformat:"0"|intcomma }}
{% if load.Is_Estimated %}~ {% endif %}</td>

              <td style="padding-left:10px">{{ load.prod|floatformat:"0"|intcomma }}
                  {% if load.prod >= 1200 %}<i style="font-size: small" class="fas fa-crown"></i>{% endif %}
                  {% if load.Confirmed_Splat_Factor %}<i style="color:red;font-size: small" class="fas fa-virus"></i>{% endif %}
              </td>
              <td style="padding-left:10px">{{ load.rps|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:page_estimated_dope' %}{{ load.pk }}">Info</a></td>
              <td style="padding-left:10px"><a href="{% url 'load_data:loads' %}{{ load.pk }}">Yes</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}

      </table>

<br />

<div class="row ben_format_pretty">
    <div align="left">
              <i class="fas fa-crown"></i> = 1,200 Foot Pounds of Energy (at muzzle). This is a deer hunting requirement in some states.<br />
        ~ = Estimated FPS. We haven't shot this through a chronograph this yet.<br />
              <i style="color:red;font-size: small" class="fas fa-virus"></i> = Groundhog #splatFactor

        {% comment %}
              <i class="fas fa-bomb"></i> = Groundhog #splatFactor, coming soon option 1. (bomb)<br />
              <i class="fas fa-atom"></i> = Groundhog #splatFactor, coming soon option 2. (atom)<br />
              <i class="fas fa-award"></i> = Groundhog #splatFactor, coming soon option 3. (award)<br />
              <i class="fas fa-virus"></i> = Groundhog #splatFactor, coming soon option 4. (virus)<br />
        {% endcomment %}
    </div>
</div>


   </div>
</div>


</br></br></br>
{% endblock %}
