{% extends "imrunicorn/layout.html" %}
{% block content %}
{% load humanize %}
<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-12">
        <p>
            Do your own research, don't use this load data. It might be a pipe bomb in your firearm.
        </p>

        <table width="85%" border="1" align="center">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                 Chamber
             </th>
                <th bgcolor="808080" style="text-align: center">
                 Barrel Length
             </th>
            <th bgcolor="808080" style="text-align: center">
                Proj. Name
            </th>
            <th bgcolor="808080" style="text-align: center">
                Bullet gr
            </th>
            <th bgcolor="808080" style="text-align: center">
                Powder
            </th>
            <th bgcolor="808080" style="text-align: center">
                Powder Gr
            </th>
            <th bgcolor="808080" style="text-align: center">
                FPS
            </th>
            <th bgcolor="808080" style="text-align: center">
                Yld
            </th>
            <th bgcolor="808080" style="text-align: center">
                Shamus OCW
            </th>
            <th bgcolor="808080" style="text-align: center">
                Sven OCW
            </th>
            <th bgcolor="808080" style="text-align: center">
                Sheriff
            </th>
            <th bgcolor="808080" style="text-align: center">
                DOPE
            </th>
        </tr>

          {% if all_loads != None %}
          {% for load in all_loads %}
          {% if load.Is_Sheriff_Load %}
          <tr bgcolor="#BEBEBE">
              <td id="td-sheriff">{{ load.Chamber }}</td>
              <td id="td-sheriff">{{ load.Barrel_Length }}</td>
              <td id="td-sheriff">{{ load.projectile.Name }}</td>
              <td id="td-sheriff">{{ load.projectile.WeightGR }}</td>
              <td id="td-sheriff">{{ load.powder }}</td>
              <td id="td-sheriff">{{ load.Powder_Charge }}</td>
              <td id="td-sheriff">{{ load.Velocity }}</td>
              <td id="td-sheriff">{{ load.prod|floatformat:"0"|intcomma }}</td>
              <td id="td-sheriff">{{ load.Is_Shamus_OCW }}</td>
              <td id="td-sheriff">{{ load.Is_Sven_OCW }}</td>
              <td id="td-sheriff">{{ load.Is_Sheriff_Load }}</td>
              <td id="td-sheriff">Not Tracked</td>
          </tr>
          {% else %}
          <tr bgcolor="#F5F5F5">
              <td id="td-ocw">{{ load.Chamber }}</td>
              <td id="td-ocw">{{ load.Barrel_Length }}</td>
              <td id="td-ocw">{{ load.projectile.Name }}</td>
              <td id="td-ocw">{{ load.projectile.WeightGR }}</td>
              <td id="td-ocw">{{ load.powder }}</td>
              <td id="td-ocw">{{ load.Powder_Charge }}</td>
              <td id="td-ocw">{{ load.Velocity }}</td>
              <td id="td-ocw">{{ load.prod|floatformat:"0"|intcomma }}</td>
              <td id="td-ocw">{{ load.Is_Shamus_OCW }}</td>
              <td id="td-ocw">{{ load.Is_Sven_OCW }}</td>
              <td id="td-ocw">{{ load.Is_Sheriff_Load }}</td>
              <td id="td-ocw"><a href="{% url 'page_estimated_dope' %}{{ load.pk }}">DOPE</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}

      </table>

   </div>
</div>

<div class="row">
   </br>
   </br>
   <div id="ftlbs">
      <center>
         <p>Foot-Pound Energy Calculator (Enter gr and fps for ft pounds)</p>
         <FORM NAME="calform">
            <table border="1" style="border-style: dotted; width:50%">
               <!-- base color DAD2AC -->
               <tr>
                  <td align=center bgcolor="#00ff33" style="width: 33%"><b>Weight</b><br>(Grains)</td>
                  <td align=center bgcolor="#ffff00" style="width: 33%"><b>Velocity</b> <br>(FPS)</td>
                  <td align=center bgcolor="#ff0000" style="width: 33%"><b>Energy</b><br>(ft lbs)</td>
               </tr>
               <tr>
                  <td> <input style="width: 100%" type="text" name="wt01" size="7" VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="ve01" size="7" VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="nrg01" size="8" VALUE=" " onChange="calcit();"></td>
               </tr>
               <tr>
                  <td> <input style="width: 100%" type="text" name="wt02" size="7" VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="ve02" size="7" VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="nrg02" size="8" VALUE=" " onChange="calcit();"></td>
               </tr>
               <tr>
                  <td> <input style="width: 100%" type="text" name="wt03" size="7"  VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="ve03" size="7"  VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="nrg03" size="8" VALUE=" " onChange="calcit();"></td>
               </tr>
               <tr>
                  <td> <input style="width: 100%" type="text" name="wt04" size="7"  VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="ve04" size="7"  VALUE=" " onChange="calcit();"></td>
                  <td> <input style="width: 100%" type="text" name="nrg04" size="8" VALUE=" " onChange="calcit();"></td>
               </tr>
            </table>
         </FORM>
      </center>
      <p>&nbsp;</p>
   </div>
</div>
{% endblock %}
