{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
<script src="https://kit.fontawesome.com/9a11d62cbf.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
{% load humanize %}


{% if user.is_authenticated %}
<div class="jumbotron">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>

<div class="row">
    <div class="col-md-12">

        <table width="95%" border="1" align="center">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                 Owner
             </th>
                <th bgcolor="808080" style="text-align: center">
                 Caliber
             </th>
            <th bgcolor="808080" style="text-align: center">
                Projectile
            </th>
            <th bgcolor="808080" style="text-align: center">
                Powder
            </th>
            <th bgcolor="808080" style="text-align: center">
                FPS
            </th>
            <th bgcolor="808080" style="text-align: center">
                Yld
            </th>
            <th bgcolor="808080" style="text-align: center">
                RPS
            </th>
            <th bgcolor="808080" style="text-align: center">
                DOPE
            </th>
            <th bgcolor="808080" style="text-align: center">
                Details
            </th>
        </tr>

          {% if all_loads != None %}
          {% for load in all_loads %}
          {% if load.Is_Sheriff_Load %}
          <tr bgcolor="#BEBEBE">
              <td style="padding-left:10px">{{ load.firearm.owner|title }}</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:page_firearm_detail' %}{{ load.firearm.pk }}">{{ load.firearm.caliber|upper }}</a></td>


              {% if load.projectile.buy_link != None %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }} <a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a></td>
              {% else %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }}</td>
              {% endif %}

              {% if load.powder.buy_link != None %}
              <td style="padding-left:10px">{{ load.Powder_Charge }}gr - {{ load.powder.name }} <a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a></td>
              {% else %}
              <td style="padding-left:10px">{{ load.Powder_Charge }}gr - {{ load.powder.name }}</td>
              {% endif %}

              <td style="padding-left:10px">{{ load.Velocity|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px">{{ load.prod|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px">{{ load.rps|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px">NA</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:loads' %}{{ load.pk }}">Yes</a></td>
          </tr>

          {% else %}

          <tr bgcolor="#F5F5F5">
              <td style="padding-left:10px">{{ load.firearm.owner|title }}</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:page_firearm_detail' %}{{ load.firearm.pk }}">{{ load.firearm.caliber|upper }}</a></td>

              {% if load.projectile.buy_link != None %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }}<a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a></td>
              {% else %}
              <td style="padding-left:10px">{{ load.projectile.WeightGR }}gr - {{ load.projectile.Name }}</td>
              {% endif %}

              {% if load.powder.buy_link != None %}
              <td style="padding-left:10px">{{ load.Powder_Charge }}gr - {{ load.powder.name }} <a href="{{ load.projectile.buy_link }}" target="_blank"><i class="fas fa-link"></i></a></td>
              {% else %}
              <td style="padding-left:10px">{{ load.Powder_Charge }}gr - {{ load.powder.name }}</td>
              {% endif %}


              <td style="padding-left:10px">{{ load.Velocity|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px">{{ load.prod|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px">{{ load.rps|floatformat:"0"|intcomma }}</td>
              <td style="padding-left:10px"><a href="{% url 'load_data:page_estimated_dope' %}{{ load.pk }}">Info</a></td>
              <td style="padding-left:10px"><a href="{% url 'load_data:loads' %}{{ load.pk }}">Yes</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}

      </table>

   </div>
</div>

{% else %}
<div class="jumbotron">
    <h1>Access Denied</h1>
    <p class="lead">You are not logged in.</p>
</div>

<div class="row ben_format_pretty">
    <div align="center">
        Accounts are for friends and supporters. You are not logged in to see this page.
    </div>
</div>

{% endif %}


</br></br></br>
{% endblock %}
