{% extends "imrunicorn/layout.html" %}
{% block content %}
{% load humanize %}

<div class="jumbotron">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>


<div class="row ben_format_pretty">
    <div class="col-md-12">
        {% if load_details != None %}
        <p>I don't use MIL scopes at the moment so I'm only tracking MOA based dope.</p>
        <h4>{{ load_details.hand_load.firearm.barrel_length }}" {{ load_details.hand_load.firearm.caliber }} -
                {{ load_details.hand_load.projectile.WeightGR }}
                {{ load_details.hand_load.projectile.Manufacture }}
                {{ load_details.hand_load.projectile.Name }}
            <br />
                ( {{ load_details.hand_load.Velocity }} FPS
                 via {{ load_details.hand_load.Powder_Charge }}gr
                of {{ load_details.hand_load.powder.name }}
                )

            {% if load_details.hand_load.firearm.clicks_from_bottom_to_zero_elevation >= 0 or load_details.hand_load.firearm.clicks_from_bottom_to_zero_windage >= 0 %}
            <br /><br /> RESET / ZERO-STOP:
            {% endif %}

            {% if load_details.hand_load.firearm.clicks_from_bottom_to_zero_elevation >= 0 %}
            <br />
                Clicks from bottom to zero (elevation): {{ load_details.hand_load.firearm.clicks_from_bottom_to_zero_elevation }}
            {% endif %}

            {% if load_details.hand_load.firearm.clicks_from_bottom_to_zero_windage >= 0 %}
            <br />
                Clicks from bottom to zero (windage): {{ load_details.hand_load.firearm.clicks_from_bottom_to_zero_windage }}
            {% endif %}




            <br /><br />
             Back to the <a class="dropdown-item" href="{% url 'load_data:loads' %}">Load Data</a>
            <br />
        </h4>
        {% else %}
        <h4>We don't have any estimated dope for this load at this time. View all <a class="dropdown-item" href="{% url 'load_data:loads' %}">Load Data</a></h4>
        {% endif %}
    </div>
</div>

<div class="row">


    <div class="row">
        <div class="col-md-12">


                {% if load_details != None %}
            <table width="150" border="1" align="center">
                <tr bgcolor="#808080">
                    <th bgcolor="808080" style="text-align: center">
                        Distance
                    </th>
                    <th bgcolor="808080" style="text-align: center">
                        MOA
                    </th>
                </tr>

                <tr bgcolor="#F5F5F5">
                    <td>100</td>
                    <td>{{ load_details.moa_100 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>125</td>
                    <td>{{ load_details.moa_125 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>150</td>
                    <td>{{ load_details.moa_150 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>175</td>
                    <td>{{ load_details.moa_175 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>200</td>
                    <td>{{ load_details.moa_200 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>225</td>
                    <td>{{ load_details.moa_225 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>250</td>
                    <td>{{ load_details.moa_250 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>275</td>
                    <td>{{ load_details.moa_275 }}</td>
                </tr>




                <tr bgcolor="#F5F5F5">
                    <td>300</td>
                    <td>{{ load_details.moa_300 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>325</td>
                    <td>{{ load_details.moa_325 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>350</td>
                    <td>{{ load_details.moa_350 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>375</td>
                    <td>{{ load_details.moa_375 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>400</td>
                    <td>{{ load_details.moa_400 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>425</td>
                    <td>{{ load_details.moa_425 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>450</td>
                    <td>{{ load_details.moa_450 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>475</td>
                    <td>{{ load_details.moa_475 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>500</td>
                    <td>{{ load_details.moa_500 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>525</td>
                    <td>{{ load_details.moa_525 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>550</td>
                    <td>{{ load_details.moa_550 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>575</td>
                    <td>{{ load_details.moa_575 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>600</td>
                    <td>{{ load_details.moa_600 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>625</td>
                    <td>{{ load_details.moa_625 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>650</td>
                    <td>{{ load_details.moa_650 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>675</td>
                    <td>{{ load_details.moa_675 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>700</td>
                    <td>{{ load_details.moa_700 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>725</td>
                    <td>{{ load_details.moa_725 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>750</td>
                    <td>{{ load_details.moa_750 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>775</td>
                    <td>{{ load_details.moa_775 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>800</td>
                    <td>{{ load_details.moa_800 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>825</td>
                    <td>{{ load_details.moa_825 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>850</td>
                    <td>{{ load_details.moa_850 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>875</td>
                    <td>{{ load_details.moa_875 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>900</td>
                    <td>{{ load_details.moa_900 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>925</td>
                    <td>{{ load_details.moa_925 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>950</td>
                    <td>{{ load_details.moa_950 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>975</td>
                    <td>{{ load_details.moa_975 }}</td>
                </tr>



                <tr bgcolor="#F5F5F5">
                    <td>1000</td>
                    <td>{{ load_details.moa_1000 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>1025</td>
                    <td>{{ load_details.moa_1025 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>1050</td>
                    <td>{{ load_details.moa_1050 }}</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td>1075</td>
                    <td>{{ load_details.moa_1075 }}</td>
                </tr>


            </table>

                {% endif %}

        </div>
    </div>


</div>
{% endblock %}
