{% extends "imrunicorn/layout.html" %}
{% block content %}
{% load humanize %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>



<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">

            <b>Firearm Owner:</b> {{ firearm_details.owner.userprofile.preferred_display_name|default:firearm_details.owner }}</br>
            <b>Manufacture:</b> {{ firearm_details.manufacture|title }}</br>
            <b>Model:</b> {{ firearm_details.model|title }}</br>
            <b>Barrel Length:</b> {{ firearm_details.barrel_length }} inches</br>
            <b>Caliber:</b> <a href="{% url 'load_data:page_caliber_detail' %}{{ firearm_details.caliber.pk }}">{{ firearm_details.caliber|upper }}</a></br>
            <b>Twist:</b> 1 per {{ firearm_details.inches_per_twist }} inches</br>
            <b>Elevation Reset Clicks:</b> {{ firearm_details.clicks_from_bottom_to_zero_elevation }}</br>
            <b>Windage Reset Clicks:</b> {{ firearm_details.clicks_from_bottom_to_zero_windage }}</br>

            </br>
            {% if firearm_details.extra_info %}
            <b>Extra Info:</b> {% autoescape off %}{{ firearm_details.extra_info }}{% endautoescape %}</br></br>
            {% endif %}

            {% if firearm_details.firearm_photo_1.url != None%}
                    <b>Image 1:</b><br />
                    <a href="{{ firearm_details.firearm_photo_1.url }}" target="_blank"><img src="{{ firearm_details.firearm_photo_1.url }}" style="width: 30%" /></a><br />
            {% endif %}

            {% if firearm_details.firearm_photo_2.url != None%}
                    <b>Image 2:</b><br />
                    <a href="{{ firearm_details.firearm_photo_2.url }}" target="_blank"><img src="{{ firearm_details.firearm_photo_2.url }}" style="width: 30%" /></a><br />
            {% endif %}

            {% if firearm_details.firearm_photo_3.url != None%}
                    <b>Image 3:</b><br />
                    <a href="{{ firearm_details.firearm_photo_3.url }}" target="_blank"><img src="{{ firearm_details.firearm_photo_3.url }}" style="width: 30%" /></a><br />
            {% endif %}








        </div>

    </div>
</div>

{% endblock %}
