{% extends "imrunicorn/layout.html" %}

{% block content %}

<div class="jumbotron">
    {% if request.user.is_authenticated %}
    <h1>Divide by Zero</h1>
    <p class="lead">Just try it and see what kind of errors you can get.
    </p>
    {% else %}
    <h1 style="text-shadow: 4px 3px 5px #CE5937;
                      font-family: 'Comic Sans MS', cursive, sans-serif;
                      font-size: 73px;
                      font-weight: 400;">Be right back</h1>

    <p class="lead">The robot that lives in this website is not always around but she's always watching.
    </p>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-12" align="center">
        {% if request.user.is_authenticated %}
        Thanks for logging in. There's still nothing to see on this page really.

        {% else %}
        I'm slowly adding tools to go with the load data I've made. Keep in mind,
        these are MY loads not yours. Meaning, I'm not telling you they are safe for YOUR gun.
        They might not even be 'safe' for my gun. That's my problem not yours.

        {% endif %}
    </div>
</div>

<br /><br />

{% endblock %}
