{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}

{% block content %}
{% load humanize %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>


        {% if selected_hand_load != None %}
            {% if selected_hand_load.Is_Sheriff_Load %}
                <strong><i>This isn't a great load, it was just put here to say its not bad and we've tried it. It's
                like calling the ammo 'blaster' ammo.</i></strong><br /><br /><br />
            {% endif %}

            Intended Firearm: <a href="{% url 'load_data:page_firearm_detail' %}{{ selected_hand_load.firearm.pk }}">{{ selected_hand_load.firearm|title }}</a><br />

            Cycles Action? {{ selected_hand_load.cycle_level }}<br />

            {% if selected_hand_load.grt_load %}
                <br />
                <a href="{{ selected_hand_load.grt_load.url }}">Gordon's Reloading Tool (data download)</a><br />
            {% endif %}

            {% if selected_hand_load.grt_load_pic %}
                <br />
                <a href="{{ selected_hand_load.grt_load_pic.url }}" target="_blank"><img src="{{ selected_hand_load.grt_load_pic.url }}" height="200px" /></a><br />
            {% endif %}


            {% if selected_hand_load.Group_Size %}
            Shot Group Size: {{ selected_hand_load.Group_Size }}<br />
            {% endif %}

            {% if selected_hand_load.COAL %}
            <br />
            COAL: {{ selected_hand_load.COAL }} (inches)<br />
            {% endif %}

            <br />
            Powder - {% if user.is_authenticated %}{{ selected_hand_load.powder.name }}{% else %} MEMBERS ONLY{% endif %}<br />
            Powder Gr - {% if user.is_authenticated %}{{ selected_hand_load.Powder_Charge }} <i>(7,000Gr per pound, call it 6,900 for spillage)</i>
                        {% else %} MEMBERS ONLY{% endif %}<br />
            {% if user.is_staff %}Powder Lbs On-Hand - {{ selected_hand_load.powder.lbs_on_hand }}<br />{% endif %}
            {% if selected_hand_load.powder.buy_link != None %}
                Powder Buy Link - <a href="{{ selected_hand_load.powder.buy_link }}" target="_blank"><i class="fas fa-link"></i> {{ selected_hand_load.powder.buy_link }}</a><br />
            {% endif %}
            <br />
            Projectile Manufacture - {{ selected_hand_load.projectile.Manufacture }}<br />
            Projectile Name - {{ selected_hand_load.projectile.Name }}<br />
            Projectile Gr - {{ selected_hand_load.projectile.WeightGR }}<br />
            {% comment %}Projectile BC - {{ selected_hand_load.projectile.Ballistic_Coefficient }}<br />{% endcomment %}
            {% if user.is_staff %}Projectile On-Hand - {{ selected_hand_load.projectile.projectiles_on_hand }}<br />{% endif %}
            {% if selected_hand_load.projectile.buy_link != None %}
                Projectile Buy Link - <a href="{{ selected_hand_load.projectile.buy_link }}" target="_blank"> <i class="fas fa-link"></i> {{ selected_hand_load.projectile.buy_link }}</a><br />
            {% endif %}
            <br />
            Brass Caliber - {{ selected_hand_load.brass.caliber }}<br />
            Brass Manufacture - {{ selected_hand_load.brass.manufacture }}<br />
            {% if user.is_staff %}Brass On-Hand - {{ selected_hand_load.brass.brass_on_hand }}<br />{% endif %}
            {% if selected_hand_load.brass.buy_link != None %}
                Brass Buy Link - <a href="{{ selected_hand_load.brass.buy_link }}" target="_blank"><i class="fas fa-link"></i> {{ selected_hand_load.brass.buy_link }}</a><br />
            {% endif %}
            <br />
            Primer Manufacture - {{ selected_hand_load.primer.manufacture }}<br />
            Primer Description - {{ selected_hand_load.primer.description }}<br />
            {% if user.is_staff %}Primer On-Hand - {{ selected_hand_load.primer.units_on_hand }}<br />{% endif %}
            {% if selected_hand_load.primer.buy_link != None %}
                Primer Buy Link - <a href="{{ selected_hand_load.primer.buy_link }}" target="_blank"><i class="fas fa-link"></i> {{ selected_hand_load.primer.buy_link }}</a><br />
            {% endif %}
            <br />


            {% if selected_hand_load.Group_Picture.url != None%}
                    Group Picture:<br />
                    <a href="{{ selected_hand_load.Group_Picture.url }}" target="_blank"><img src="{{ selected_hand_load.Group_Picture.url }}" style="width: 30%" /></a><br />
            {% endif %}




        {% endif %}



    </div>
</div>

</br></br></br>
{% endblock %}
