{% extends "imrunicorn/layout.html" %}

{% block extra_head %}


{% comment %}
<style>
.newspaper {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
}
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>
{% endcomment %}


{% endblock %}

{% block content %}
{% load humanize %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'loaddata/chart_menu.html' %}
        </div>
    </div>
</div>
<br />

<div class="row ben_format_pretty">
    <div align="center">
        <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">

            <div align="left">
                <select id="choices">
                    <option value="">---------</option>
                    {% for projectile in all_projectiles %}
                        <option value="{{ caliber.name }} - {{ caliber.diameter }}">
                        {{ projectile.WeightGR }}gr - {{ projectile.Manufacture }} {{ projectile.Name }} ({{ projectile.Diameter }} dia.)
                        {% if projectile.is_approved == False %}
                            ( Pending approval, submitted by user id: # {{ projectile.author_pk }} )
                        {% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
<br /><br /><br />
            <div align="left">
                <form method="POST"> {% csrf_token %}
                    {{ form.as_p }}
                    <b>Is Approved:</b> False (Pending Approval)<br/>
                    <b>User Id:</b> {{ user.pk }} <br/>
                    <b>User Name:</b> {{ user }} <br/>
                    <br/>
                    <input type="submit" value="Save" />
                </form>
            </div>

        </div>

    </div>
    </div>
</div>

{% endblock %}
