{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>

<div class="row ben_format_pretty">
    In order to keep the natives at bay, we've decided to keep a list of people who want venison.
    Basically all that happens is, the person on the top of the list gets the next deer or w/e parts they want
    of said deer.<br /><br />

    We can't legally sell the deer/venison, but we're open to trade or donations.

</div>

{% endblock %}
