# Project exclude paths
/venv/
.idea/*
.DS_Store
.DS_Store/*
../.DS_Store
/venv-2.7/
/imrunicorn/static/
/imrunicorn/loaddata/migrations/
/imrunicorn/farminvite/migrations/
/imrunicorn/announcements/migrations/
/imrunicorn/db.sqlite3
*iWantItAll3*.json
django-debug.logdocker-compose-dontadd.yml