# Project exclude paths
db.json
db_no-auth.json
imrunicorn/venv/
/venv/
.pyc*
__pycache__/
.idea/*
/imrunicorn/static/
/certs/
imrunicorn/imrunicorn.sock
nginx.default-lkg
media.tar
/uploads/
/imrunicorn/data/db.sqlite3
.vscode/settings.json
imrunicorn/disabled.pylintrc

/imrunicorn/.env

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
/imrunicorn/geckodriver.log
/imrunicorn/data/django*.log
