{% extends "imrunicorn/layout.html" %}
{% load static %}

{% block extra_head %}

{% endblock %}


{% block content %}
{% load humanize %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>

    <p class="lead"><strong>Location: </strong>{{ weather.full_response.name }}<br />
        <strong>Temp:</strong> {{ weather.temperature }}&deg;F <i>(Feels Like: {{ weather.feels_like }}&deg;F)</i><br />
        <strong>Wind Speed:</strong> {{ weather.wind_speed }}mph
        <strong>Wind Direction:</strong>
        {{ comment }}
        <a href="https://www.sasquatchstation.com/images/dual-compass-rose.png" target="_blank"></a>
        {{ endcomment }}

        {{ weather.wind_dir }}&deg;
        ({{ weather.wind_dir_word }})<br />
        <strong>Sky:</strong> {{ weather.description }}
    </p>

</div>

{% if all_news != None %}

<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">

            {% for news in all_news %}
                <b>Harvest Date:</b> {{ news.harvest_date }}<br />
                <b>Harvest Time:</b> {{ news.harvest_time }}<br />


                {% if news.estimated_temperature > -49 %}
                    <b>Estimated Temperature:</b> {{ news.estimated_temperature }}&deg;F<br />
                {% else %}
                    <b>Estimated Temperature:</b> No data<br />
                {% endif %}

                <b>Cloud Level:</b> {{ news.cloud_level }}<br />

                <b>Shooter:</b>
                    <a href="{% url 'deer_harvest_logbook:all_harvests' %}{{ news.shooter.pk }}">
                    {{ news.shooter.userprofile.preferred_display_name|default:news.shooter.username }}
                    </a><br />

                {% comment %}
                assume it was NOT a DMP if its not specifically listed as such.
                {% endcomment %}

                {% if news.deer_management_permit_id != None %}
                    {% if unrestricted_user %}
                        <b>Deer Management Permit:</b> {{ news.deer_management_permit_id.permit_id }}<br />
                    {% else %}
                        <b>Deer Management Permit:</b> True<br />
                    {% endif %}
                {% endif %}


                <b>Firearm Info:</b><a href="{% url 'load_data:page_firearm_detail' %}{{ news.firearm.pk }}">{{ news.firearm }}</a><br />

                <b>Load Detail:</b>{% if user.is_authenticated %} {{ news.load }}{% else %} <i>(Logged In Users Only)</i></i>{% endif %}<br />
                <b>Estimated Weight (lbs):</b> {{ news.estimated_weight_lbs }}<br />

                {% if news.sex == "MALE" %}
                    <b>Sex:</b> {{ news.sex }} - <i class="fas fa-mars"></i><br />
                {% elif news.sex == "FEMALE" %}
                    <b>Sex:</b> {{ news.sex }} - <i class="fas fa-venus"></i><br />
                {% else %}
                    <b>Sex:</b> {{ news.sex }} - <i class="far fa-question-circle"></i><br />
                {% endif %}

                <b>Shot Distance Yards:</b> {{ news.shot_distance_yards }}<br />
                <b>Yards Ran:</b> {{ news.yards_ran }}<br />
                <b>Score:</b> {{ news.harvest_score }} {% if news.bonus_for_not_unpleasant %} + 1 (bonus) {% endif %}<br />

                {% if news.extra_info %}
                <b>Extra Info:</b><br /> {% autoescape off %}{{ news.extra_info }}{% endautoescape %}</br>
                {% endif %}

                {% if news.kill_shot.url != None%}
                        <b>Image 1:</b><br />
                        <a href="{{ news.kill_shot.url }}" target="_blank"><img src="{{ news.kill_shot.url }}" style="width: 30%" /></a><br />
                {% endif %}

                {% if news.kill_shot_two.url != None%}
                        <b>Image 2:</b><br />
                        <a href="{{ news.kill_shot_two.url }}" target="_blank"><img src="{{ news.kill_shot_two.url }}" style="width: 30%" /></a><br />
                {% endif %}


                {% for bonus_photo in news.removal_photos.all %}
                        <b>Bonus Image: {{ forloop.counter }}</b><br />
                        <a href="{{ bonus_photo.kill_shot.url }}" target="_blank"><img src="{{ bonus_photo.kill_shot.url }}" style="width: 30%" /></a><br />
                {% endfor %}


                {% if forloop.last  == False %}
                    <hr />
                {% else %}
                    <br />
                {% endif %}

            {% endfor %}
        </div>

    </div>
</div>


    <div align="center">
    <p align="center">
        {% if all_news.has_other_pages %}
        <ul class="pagination">
            {% if all_news.has_previous %}
                <li><a href="?page={{ all_news.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            <li><a href="?page=1">Newest</a></li>
            {% for l in all_news.paginator.page_range %}
                {% if l <= all_news.number|add:5 and l >= all_news.number|add:-5 %}
                    <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="?page={{all_news.paginator.num_pages}}">Oldest</a></li>

            {% if all_news.has_next %}
                <li><a href="?page={{ all_news.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </p>
        </div>

{% endif %}


{% endblock %}
