{% extends "imrunicorn/layout.html" %}
{% load static %}

{% block extra_head %}

{% endblock %}


{% block content %}
{% load humanize %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

{% if all_news != None %}

<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">

            {% for news in all_news %}
                <b>Harvest Date:</b> {{ news.harvest_date }}<br />
                <b>Harvest Time:</b> {{ news.harvest_time }}<br />
                <b>Shooter:</b>
                    <a href="{% url 'deer_harvest_logbook:all_harvests' %}{{ news.shooter.pk }}">
                    {{ news.shooter.userprofile.preferred_display_name|default:news.shooter.first_name }}
                    </a><br />

                {% comment %}
                assume it was NOT a DMP if its not specifically listed as such.
                {% endcomment %}

                {% if news.crop_damage_permit == None %}
                    <b>Deer Management Permit:</b> False<br />
                {% else %}
                    <b>Deer Management Permit:</b> {{ news.crop_damage_permit }}<br />
                {% endif %}


                <b>Firearm Info:</b><a href="{% url 'load_data:page_firearm_detail' %}{{ news.firearm.pk }}">{{ news.firearm }}</a><br />

                <b>Load Detail:</b>{% if user.is_authenticated %} {{ news.load }}{% else %} <i>(Logged In Users Only)</i></i>{% endif %}<br />
                <b>Estimated Weight (lbs):</b> {{ news.estimated_weight_lbs }}<br />

                {% if news.sex == "MALE" %}
                    <b>Sex:</b> {{ news.sex }} - <i class="fas fa-mars"></i><br />
                {% elif news.sex == "FEMALE" %}
                    <b>Sex:</b> {{ news.sex }} - <i class="fas fa-venus"></i><br />
                {% else %}
                    <b>Sex:</b> {{ news.sex }} - <i class="far fa-question-circle"></i><br />
                {% endif %}

                <b>Shot Distance Yards:</b> {{ news.shot_distance_yards }}<br />
                <b>Score:</b> {{ news.harvest_score }} {% if news.bonus_for_not_unpleasant %} + 1 (bonus) {% endif %}<br />

                {% if news.extra_info %}
                <b>Extra Info:</b><br /> {% autoescape off %}{{ news.extra_info }}{% endautoescape %}</br>
                {% endif %}

                {% if news.kill_shot.url != None%}
                        <b>Image 1:</b><br />
                        <a href="{{ news.kill_shot.url }}" target="_blank"><img src="{{ news.kill_shot.url }}" style="width: 30%" /></a><br />
                {% endif %}

                {% if news.kill_shot_two.url != None%}
                        <b>Image 2:</b><br />
                        <a href="{{ news.kill_shot_two.url }}" target="_blank"><img src="{{ news.kill_shot_two.url }}" style="width: 30%" /></a><br />
                {% endif %}

                {% if forloop.last  == False %}
                    <hr />
                {% else %}
                    <br />
                {% endif %}

            {% endfor %}
        </div>

    </div>
</div>

{% endif %}


{% endblock %}
