{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'activity_log/chart_menu.html' %}
        </div>
    </div>
</div>

<br />

<div class="row ben_format_pretty">

    <div>
        {% autoescape off %}{{ secret }}{% endautoescape %}
    </div>
    <br />

        <table align="center" border="1" width="95%">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                 KP/AP
             </th>
                <th bgcolor="808080" style="text-align: center">
                 Activity Name
             </th>
            <th bgcolor="808080" style="text-align: center">
                Description
            </th>

    {% for record in data %}
        <tr bgcolor="#BEBEBE">
              <td style="padding-left:10px">
                  {{ record.transaction_amount }}
              </td>
            <td style="padding-left:10px">
                  {{ record.name }}
              </td>
            <td style="padding-left:10px">
                  {{ record.description }}
              </td>
        </tr>
    {% endfor %}
        </table>
</div>

{% endblock %}
