{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'activity_log/chart_menu_afk_lady.html' %}
        </div>
    </div>
</div>

<br />

<div class="row ben_format_pretty">
    <div align="center">
        Brace yourself, you haven't over clicked anything yet! This is getting rebuilt.
    </div>
</div>

{% endblock %}
