{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'activity_log/chart_menu.html' %}
        </div>
    </div>
</div>

<br />

<div class="row ben_format_pretty">
    {% for record in data %}
        {% ifchanged record.activity_log.id %}

            {% if forloop.first  == False %}
                <hr style="height:2px;border-width:0;color:gray;background-color:red" />
            {% else %}
                <br />
            {% endif %}

            {% comment %}
            <b>Log Entry:</b> {{ record.activity_log.id }}<br />
            {% endcomment %}
            <b>Date:</b> {{ record.activity_log.date }}<br />
            <b>Time:</b> {{ record.activity_log.time }}<br />
            <b>Actor:</b>
    {{ record.activity_log.actor.userprofile.preferred_display_name|default:record.activity_log.actor.username }}<br />

            <b>Name:</b> {{ record.activity_log.activity.name }}<br />
            <b>Description:</b> {{ record.activity_log.activity.description }}<br />
            <br />
            <b>Photo Caption:</b> {{ record.caption }}<br />
            <b>Photo Proof:</b>
    <a href="{{ record.photo_proof.url }}" target="_blank">
        <img src="{{ record.photo_proof.url }}" style="width: 30%" ></a><br />
        {% else %}
            <br /><br />
            <b>Photo Caption:</b> {{ record.caption }}<br />
            <b>Photo Proof:</b>
    <a href="{{ record.photo_proof.url }}" target="_blank">
        <img src="{{ record.photo_proof.url }}" style="width: 30%" ></a><br />
        {% endifchanged %}

    {% endfor %}

</div>

<div align="center">
    {% if data.has_other_pages %}
    <ul class="pagination">
        {% if data.has_previous %}
            <li><a href="?page={{ all_news.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        <li><a href="?page=1">Newest</a></li>
        {% for l in data.paginator.page_range %}
            {% if l <= data.number|add:5 and l >= data.number|add:-5 %}
                <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="?page={{all_news.paginator.num_pages}}">Oldest</a></li>

        {% if data.has_next %}
            <li><a href="?page={{ all_news.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>



{% endblock %}
