{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'activity_log/chart_menu.html' %}
        </div>
    </div>
</div>

<br />

<div class="row ben_format_pretty">

        <table align="center" border="1" width="95%">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                 User
             </th>
                <th bgcolor="808080" style="text-align: center">
                 Timestamp
             </th>
            <th bgcolor="808080" style="text-align: center">
                KP/AP
            </th>
            <th bgcolor="808080" style="text-align: center">
                Description
            </th>
            <th bgcolor="808080" style="text-align: center">
                Comments
            </th>

    {% for record in data %}
        <tr bgcolor="#BEBEBE">
              <td style="padding-left:10px">
                  {{ record.actor.userprofile.preferred_display_name |default:record.actor.username }}
              </td>
            <td style="padding-left:10px">
                  {{ record.date }} @ {{ record.time }}
              </td>
            <td style="padding-left:10px">
                  {{ record.activity.transaction_amount }}
              </td>
            <td style="padding-left:10px">
                  {{ record.activity.description }}
              </td>
            <td style="padding-left:10px">
                  {{ record.actor_comments }}
              </td>
        </tr>
    {% endfor %}
        </table>
</div>


<div align="center">
    {% if data.has_other_pages %}
    <ul class="pagination">
        {% if data.has_previous %}
            <li><a href="?page={{ all_news.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        <li><a href="?page=1">Newest</a></li>
        {% for l in data.paginator.page_range %}
            {% if l <= data.number|add:5 and l >= data.number|add:-5 %}
                <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="?page={{all_news.paginator.num_pages}}">Oldest</a></li>

        {% if data.has_next %}
            <li><a href="?page={{ all_news.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

{% endblock %}
