<a class="dropdown-item" href="{% url 'dad_jokes:home' %}"> Home</a> |
<a class="dropdown-item" href="#"> Most Recent</a> |
<a class="dropdown-item" href="#"> Most Viewed</a> |
<a class="dropdown-item" href="#"> Random</a> |
<a class="dropdown-item" href="#"> Upload</a> |
<a class="dropdown-item" href="#"> Hotlink</a>