{% extends "imrunicorn/layout.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            With the 'recent' changes to requesting FOIA/PA info, I've decided to lay out an easy to
        follow guideline here.
        {% endif %}</p>
</div>


{% include 'dcsa_info/menu.html' %}
<br />

<div class="row ben_format_pretty">
    We are just starting off tracking these requests. Therefore, for now, we are showing all requests not only the ones
    that have netted the results requested. You'll have to filter those yourself for now or
    <a href="{% url 'dcsa_info:success_examples' %}">click here</a>.
</div>

<br />

{% if all_news != None %}
<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">

            {% for news in all_news %}
                <strong>Submission Format:</strong> {{ news.submission_format }}<br />
                <strong>Request Date:</strong> {{ news.request_date }}<br />
                <strong>Requester Alias:</strong> {{ news.requester_alias }}<br />
                <strong>Ticket Number Received:</strong> {{ news.ticket_number_received }}<br />
                <strong>Ticket Number:</strong> {{ news.ticket_number }}<br />
                <strong>Result Date:</strong> {{ news.result_date }}<br />
                <strong>Received Info Requested:</strong> {{ news.received_pa_info_requested }}<br />
                <strong>Info Requested:</strong><br />
                    {% autoescape off %}
                        <div style="margin-left: 30px;">
                            {% if news.request_text|length > 0 %}
                                {{ news.request_text }}
                            {% else %}
                                Not logged for this request.
                            {% endif %}
                        </div>
                    {% endautoescape %}
                <br />

                {% if forloop.last  == False %}
                    <hr />
                {% else %}
                    <br />
                {% endif %}

            {% empty %}
                <center>We don't have a log of any requests that received the results they requested.</center>

            {% endfor %}

        </div>
    </div>
</div>


    <div align="center">
    <p align="center">
        {% if all_news.has_other_pages %}
        <ul class="pagination">
            {% if all_news.has_previous %}
                <li><a href="?page={{ all_news.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            <li><a href="?page=1">Newest</a></li>
            {% for l in all_news.paginator.page_range %}
                {% if l <= all_news.number|add:5 and l >= all_news.number|add:-5 %}
                    <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="?page={{all_news.paginator.num_pages}}">Oldest</a></li>

            {% if all_news.has_next %}
                <li><a href="?page={{ all_news.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </p>
        </div>

{% endif %}

{% endblock %}
