{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}


{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<div class="row ben_format_pretty">
  Details coming soon.<br /><br />
    Axis deer<br />

    Beceite Ibex<br />
    Bighorn Sheep<br />
    Black Bear<br />
    Blackbuck<br />
    Blacktail Deer<br />
    Blue Wildebeest<br />

    Canada Goose<br />
    Cape Buffalo<br />
    Caribou<br />
    Chamois<br />
    Cinnamon Teal<br />
    Coyote<br />

    Eurasian Brown Bear<br />
    Eurasian Lynx<br />
    European Bison<br />
    European Hare<br />
    European Rabbit<br />

    Fallow Deer<br />
    Farel Goat<br />
    Farel Pig<br />

    Gemsbok<br />
    Grey Wolf<br />
    Gredos Ibex<br />
    Grizzly Bear<br />

    *Hare<br />
    Harlequin Duck<br />

    Iberian Mouflon<br />
    Iberian Wolf<br />

    Jackrabbit<br />

    Lesser Kudu<br />
    Lion<br />

    Mallard<br />
    Moose<br />
    Mountain Goat<br />
    Mountain Lion<br />
    Mule Deer<br />

    Planes Bison<br />
    Pronghorn<br />
    Puma<br />

    Red Deer<br />
    Red Fox<br />
    Reindeer<br />
    Rocky Mountain Elk<br />
    Roa Deer<br />
    Ronda Ibex<br />
    Roosevelt Elk<br />

    Scrub Hare<br />
    Siberian Musk Deer<br />
    Side-Striped Jackle<br />
    Sika Deer<br />
    Southeastern Spanis Ibex<br />
    Springbook<br />
    *Squirrel<br />

    Turkey<br />

    Warthog<br />
    Water Buffalo<br />
    *Weasel<br />
    Whitetail Deer<br />
    Wild Boar<br />





</div>

{% endblock %}
