<a class="dropdown-item" href="{% url 'puppy_fostering:home' %}"> Main</a> |
<a class="dropdown-item" href="{% url 'puppy_fostering:momma_pics' %}"> Momma Pics</a> |
<a class="dropdown-item" href="{% url 'puppy_fostering:puppy_pics' %}"> Puppy Pics</a>
