{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}

{% block content %}

    {% block polls_content %}
    <div class="jumbotron wallpapered">
        <h1>{{ poll.question|title }}</h1>
        <p><i>Running:</i> {{ poll.start_date}} <i class="fas fa-angle-double-right"></i> {{ poll.end_date}}.</p>
    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="row ben_format_pretty">
    {% if poll.reference_link %}Here's a link with more info about the poll.
    <a href="{{ poll.reference_link }}">{{ poll.reference_link }}</a><br /><br />
    {% endif %}

    <form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        {% autoescape off %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endautoescape %}
    {% endfor %}
        <br />
    <input type="submit" value="Vote, I promise to only do it once... or twice." />
    </form>
</div>

    {% endblock %}

{% endblock %}