{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
<script src="https://kit.fontawesome.com/9a11d62cbf.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

    {% block polls_content %}
    <div class="jumbotron">
        <h1>Poll #{{ poll.id }}</h1>
        <p class="lead">{{ poll.question }}</p>
    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="row ben_format_pretty">
    <form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
        <br />
    <input type="submit" value="Vote" />
    </form>
</div>

    {% endblock %}

{% endblock %}