{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
<script src="https://kit.fontawesome.com/9a11d62cbf.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Polls</h1>
    <p class="lead">Various selection of polls.</p>
</div>

<div class="row">
    <div class="col-md-12" align="center">
        Right now you can vote more than once on the same poll. Don't be bad. Only vote once.
    </div>
<br /><br /><br />



{% block polls_content %}
    {% if latest_poll_list %}
        <ul>
        {% for poll in latest_poll_list %}
            <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    {% endblock %}

</div>

<br /><br />
{% endblock %}
