{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="jumbotron wallpapered">
    <h1>Polls</h1>
    <p class="lead">Various selection of polls.</p>
</div>


<div class="row ben_format_pretty">
    <div class="col-md-12">
        <p>Find out how to <a href="{% url 'farm_invite:how_do_i_sign_up' %}">register</a> today.</p>
        <p>Check back from time to time because the polls are set to display only polls that have started
        and not expired. This start/stop is determined by date. In addition we're only showing the most
        recent few polls. Right now you can vote more than once on the same poll.
        Don't be bad, only vote once.</p>
    </div>

    <div class="col-md-12">
        {% if latest_poll_list %}
        <ul>
            {% for poll in latest_poll_list %}
            <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question|title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p><strong>No polls are available.</strong></p>
        {% endif %}
    </div>

</div>

<br/><br/>
{% endblock %}
