<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Access Denied</title>
        <!-- <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" /> -->

        <link href="{% static 'imrunicorn/assets/img/favicon.ico' %}" rel="shortcut icon" type="image/png"/>

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->

        <link href="{% static 'imrunicorn/css/styles.css' %}" rel="stylesheet" type="text/css"/>

    </head>
    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Ben SpelledABC</h1>
                    <h3 class="mx-auto my-0 text-uppercase">Access Denied</h3>

                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        {% if exception %}
                            <p>{{ exception }}</p>
                        {% else %}
                            <p>Sorry it appears you didn't make the list for access to this resource. Try again.</p>
                        {% endif %}
                    </h2>
                    <a class="btn btn-primary js-scroll-trigger" href="http://benspelledabc.me" target="_blank">me.go(127.0.0.1)</a>
                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © 2020 - Drunken Dwarves,<br />Irate Gnomes, and Ben SpelledABC</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
        <script src="{% static 'imrunicorn/js/scripts.js' %}"></script>

    </body>
</html>
