<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Overdue Departure</title>
        <!-- <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" /> -->

        <link href="{% static 'imrunicorn/assets/img/favicon.ico' %}" rel="shortcut icon" type="image/png"/>

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->

        <link href="{% static 'imrunicorn/css/styles.css' %}" rel="stylesheet" type="text/css"/>

    </head>
    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <br /><br /><br />
                    <h3 class="mx-auto my-0 text-uppercase">Overdue Departure</h3>
                    <hr width="90%" />

                    
                        I'll try to be short and simple. <br /><br />
                        <div class="text-white-50 mx-auto mt-2 mb-5"> <br />
                        <ul>
                            <li>My wife tells me she is afraid of what I might do to her/them If they stay here. This tears me up just thinking 
                            about it. I didn't see it but if you consider not all violence is physical and several small events can add up
                            to a singular breaking point, perhaps she's right.</li><br />
                            <li>I'm told by her that I forget things and thats why I feel like she's not telling me things. She's 
                                unable to identify specific items but it's posiable that it's not a singleular item and therefore 
                                nothing stands out.
                            </li><br />
                            <li>She will say it's not true but it seems my children don't want to talk to me anymore either.
                                This checks out for the most part because when they left, noone said good bye. 
                                No one said love you. They took the cats and dogs then left.
                            </li><br />
                            <li>She hasn't initiated sex for almost a year and cowers away or seems to "tollerate it" when I initate sex.
                                It occures to me now, perhaps she feels like a hostage and she's keeping me at bay. This tears me up 
                                and makes me sick to my stomach.
                            </li><br />
                            <li>I go to work to support my family. A family which no longer wants me around but 
                                are happy to have the physical things my salary provides in what 
                                they in turn call a 'hell hole'.</li><br />
                            <li>My wife goes out of her way to avoid talking me to about our issues. It's always "we'll talk later"
                                 or "let me think about that and get back with you". Another favorite reply is "okay" which doesnt 
                                 mean okay it means "i hear your words but i need to think about it without telling you 
                                 thats what i'm doing"
                            </li><br />
                            <li>Take a wife that doesn't love you anymore, kids that don't love you anymore. In a house that's too small 
                                for the five of us. There doesn't appar to be any choice but to remove myself from the environment
                                so they can be together in their version of harmony.
                            </li><br />

                            <li>My wife and kids see Robin Williams as a hero becuse he ended his life when he had consistant 
                                pain that would never get better. He was a hero, for being able to make it stop.</li><br />

                            <li>They ment the world to me, now they are gone. So I'm leaving too. Death is life's final great
                                adventure.
                            </li><br />
                            
                        </ul>
                    </div>


                    <!--
                        <a class="btn btn-primary js-scroll-trigger" href="http://benspelledabc.me" target="_blank">me.go(127.0.0.1)</a>
                    -->

                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © 2021 - Drunken Dwarves,<br />Irate Gnomes, and Ben SpelledABC</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
        <script src="{% static 'imrunicorn/js/scripts.js' %}"></script>

    </body>
</html>
