{% extends "imrunicorn/layout.html" %}

{% block content %}

<div class="jumbotron">

    <h1 style="text-shadow: 4px 3px 5px #CE5937;
                      font-family: 'Comic Sans MS', cursive, sans-serif;
                      font-size: 73px;
                      font-weight: 400;">POP, misfire!</h1>

    <p class="lead">The robot that lives in this website is working hard prevents misfires but you've found one.
    </p>
</div>

<div class="row">
    <div class="col-md-12" align="center">
        This page doesn't exist, yet... or it was eaten by the robot that lives here.
    </div>
</div>

<br/><br/>

{% endblock %}
