{% extends "imrunicorn/layout.html" %}
{% load static %}

{% block content %}
{% load humanize %}
<div class="jumbotron">
    <h1>Reading Wind Mirage</h1>
    <p class="lead">It's not out of focus, it's you reading the wind.</p>
</div>

<div class="row ben_center">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: justify;font-family:times new roman;">
            <center><img src="{% static '/content/wind-mirage.png' %}" /></center><br /><br />
            Have you ever looked through the scope and think it's out of focus or that your eyes are playing tricks on you?
            While those things could be true, it could also be you seeing the wind because of a heat mirage. It doesn't
            mean that it has to be hot out, just warm enough to see thermals. Consider the diagram above when you see the
            mirage again. Learn it, love it. Aim small miss small.<br /><br />
            Check your surroundings before you index someone to read the wind...
        </div>

    </div>
</div>
{% endblock %}
