{% extends "imrunicorn/layout.html" %}



{% block content %}
{% load humanize %}
<div class="jumbotron wallpapered">
    <h1>The Six Steps of Firing the Shot</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}
    </p>
</div>

<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div>The experience of thousands of shooters over the last few hundred years has been distilled down to these six steps for firing the shot. If you will put aside all notions on shooting acquired until now and try this, it will improve your shooting. If you fire every shot “by the numbers” you will improve.</div>

        <div style="text-align: justify;font-family:times new roman;"><span style="font-size:101%;"><span
                style=""></span></span><span style="font-size:101%;"><br/><br/></span><span
                style="font-size:101%;"><span style=""><strong>(1) SIGHT ALIGNMENT:</strong></span></span><span
                style="font-size:101%;"><br/></span><span style="font-size:101%;"><span style="">     (a) Aperture  or &#8220;peep&#8221; sights:  Just center the top of the front sight &#8220;post&#8221; in the  ring of the rear sight.  The top of the post should be centered  horizontally, (same amount of daylight on either side), as well as vertically,  (top of post half way up the circle).</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">     (b) Open  sights: Center the front sight &#8220;post&#8221; in the notch of the rear sight. The post  should have equal amounts of daylight on either side of it, and the top of the  post should be the same height as the left and right sides of the  notch.</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span
                style=""><strong>(2) SIGHT PICTURE:</strong></span></span><span style="font-size:101%;"><br/></span><span
                style="font-size:101%;"><span style="">      While maintaining  the sight alignment, bring the sights onto the target and place the bottom of  the target on top of the post.  Now you should have all three parts in  alignment: the top of the front sight post centered in the rear sight, and the  target sitting centered on top of the post. This is called the &#8220;6 o&#8217;clock&#8221; hold.    Others of you shooting certain rifles, (Sights that are difficult to  change), may have to use a POA=POI hold, (Point of Aim = Point of Impact) just  hold the top of the post &#8220;center of mass&#8221;.</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style=""><strong>(3) RESPIRATORY  PAUSE:</strong></span></span><span
                style="font-size:101%;"><br/></span><span style="font-size:101%;"><span style="">      Now take a deep breath and let it out slowly  while watching the front sight. Notice that it falls while inhaling and rises  while exhaling. When the front sight reaches the 6 o&#8217;clock hold position, just  hold your breath at that point.  Your inflated lungs, (A natural action),  holds elevation.  </span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">   How long can you hold?  In 5 to 8  seconds your ability to fire the shot well diminishes.  And that&#8217;s if  you&#8217;re in good shape. First to go is vision, and you won&#8217;t be able to get that  crisp sight picture you want. Then you may even begin to tremble. Don&#8217;t rush the  shot. If you&#8217;ve been holding more than about 5 seconds, take another breath and  start over.</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style=""><strong>(4) (a) FOCUS YOUR EYE ON THE FRONT SIGHT:</strong> (A physical  task)</span></span><span
                style="font-size:101%;"><br/></span><span style="font-size:101%;"><span style="">           Your eye cannot focus at more  than one distance, and you are trying to keep three things at three different  distances aligned.  Hundreds of years of shooting by thousands of true  riflemen have proven that the best way to sight your rifle is to focus on the  front sight. The target will be fuzzy in the distance, perched on the front  sight post like a pumpkin on a fencepost. The rear sight will be fuzzy in your  periphery.  But this is the only way your eye can line up all three things  accurately. It is imperative that you focus ONLY on the front sight. This is not  a natural thing and requires constant monitoring and correction.  If your  groups start to expand, the first thing you need to ask yourself is if you are  truly focusing on the front sight.</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">     (b) FOCUS YOUR  MIND ON KEEPING THE FRONT SIGHT ON THE TARGET: (A mental task)</span></span><span
                style="font-size:101%;"><br/></span><span style="font-size:101%;"><span style="">            With everything you can muster, focus your mind on  keeping that front sight PRECISELY where it belongs on the fuzzy target.   This requires considerable concentration and effort and is also why all  these steps must become automatic muscle memory functions to leave the mind free  to concentrate on the front sight. </span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style=""><strong>(5) SQUEEZE THE  TRIGGER:</strong></span></span><span
                style="font-size:101%;"><br/></span><span style="font-size:101%;"><span style="">     I didn&#8217;t say &#8220;pull&#8221; the trigger, nor slap, nor  snap the trigger. The tendency is to snap the trigger rearward when the sights  are perfectly aligned before they can get off target again.  The problem  with this is that the bullet is not yet out of the barrel and the added motion  you impart to the trigger will start the bullet downrange at a slight angle,  which only grows more divergent from the target as it goes downrange.  </span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">      Squeeze the trigger straight to the rear using a  steadily increasing pressure, much the same as pushing the plunger on a ball  point pen. You can stop at any moment. If the target is slightly off line, don&#8217;t  release the trigger, just hold the pressure you have already. As the sights come  back into place, continue squeezing. Repeat until the rifle fires.  </span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">      The finger should contact the trigger as low  as possible, (for greater mechanical advantage and to prevent touching the  bottom of the receiver.), and in the middle of the first pad of the finger.   The trigger finger should be curled to an extent that no part of the  finger between the last knuckle, (nearest the palm), and the pad touching the  trigger itself touches any part of the rifle.</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">  When you are caught  touching the stock with the inside of the trigger finger you will be told that  you are &#8220;dragging wood&#8221;. Dragging wood will cause your shots to fly because it  imparts a slight movement to the gun while the round is still traveling down the  barrel.  Dragging wood is the most common firing line error, but fear not,  as this habit will be beaten out of you during this weekend.</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style=""><strong>(6) FOLLOW  THROUGH:</strong></span></span><span
                style="font-size:101%;"><br/></span><span style="font-size:101%;"><span style="">      This actually has two parts- HOLD THE  TRIGGER BACK, and TAKE A MENTAL &#8220;SNAPSHOT&#8221;.  You must hold the trigger  back, (momentarily), to allow the bullet to clear the barrel before moving your  finger again.  Try to hold it to the rear until you have the sights aligned  on the target again, and then release the trigger just enough to re-engage the  sear. You can usually feel as well as hear an audible &#8220;click&#8221; when this happens.   Do not remove your finger from the trigger!</span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">      When the shot goes off you should also make a mental note of where the front  sight was because that is where the round went.  At first it will seem  impossible to do, but with practice you will notice that sometimes you saw  exactly where the sights were. (Dry firing is the perfect time to develop this  skill) After a while you can &#8220;call the shot&#8221;.  This means that even when  you can&#8217;t see a hole in the target you will know where that shot went and could  actually draw it on paper to compare with the real thing when you get down  there.  </span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">     The ability to call your shot is important  because if you called it 5 o&#8217;clock and just out of the black and then you check  the target and that is where it hit, it wasn&#8217;t a bad shot.  It actually  went just where it was told to go. You just need to focus more and do the 6  steps required to put it in the V ring.  </span></span><span
                style="font-size:101%;"><br/><br/></span><span style="font-size:101%;"><span style="">      If  the rounds all consistently fall in the same spot, just not in the right spot,  say for instance  too high, too far left, etc, then you will have to move  the sights during your next prep period.  (Stress shooting tight groups and  do not allow sight adjustments for shooters with groups larger than 8 MOA. They  need to get the 6 steps down first, otherwise they will &#8220;chase the sights&#8221; all  day)</span></span>
        </div>


        {% if show_lorem %}
        <p>{% lorem 3 p random %}</p>
        {% endif %}
    </div>
</div>

<br /><br /><br />

{% endblock %}
