{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            This might take a bit to load, thank you for your patience.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    Not to worry, there are more buzz words coming for management reasons.

    {% if new_words_or_phrases > 0 %}
        We were able to find {{ new_words_or_phrases }} more
            {% if new_words_or_phrases > 1 %}
                buzzwords
            {% else %}
                buzzword
            {% endif %}
        just now, so the list has been updated to reflect that.
    {% endif %}
    <br /><br /><br />

    {% for word in words %}

        <strong>{{ word.pk }}:</strong> {{ word.word_or_phrase }}<br />

        {% if forloop.last  == True %}
            <br />
        {% endif %}

    {% endfor %}
</div>

{% endblock %}
