<a class="dropdown-item" href="{% url 'content_collection:video_list' %}"> Video List</a> |
<a class="dropdown-item" href="{% url 'content_collection:videos_latest' %}"> Video Latest</a> |
<a class="dropdown-item" href="{% url 'content_collection:carousel' %}"> Carousel</a> |
<a class="dropdown-item" href="{% url 'content_collection:carousel_recent' %}"> Carousel Recent</a> |
<a class="dropdown-item" href="{% url 'content_collection:dnd5e_list' %}"> D&amp;D 5e</a> |
<a class="dropdown-item" href="{% url 'content_collection:fantasy_grounds_list' %}"> Fantasy Grounds</a> |
<a class="dropdown-item" href="{% url 'content_collection:insult' %}"> Insult</a>