<a class="dropdown-item" href="{% url 'content_collection:general_uploads' %}"> General</a> |
<a class="dropdown-item" href="{% url 'content_collection:video_list' %}"> Video List</a> |
<a class="dropdown-item" href="{% url 'content_collection:videos_latest' %}"> Video Latest</a> |
<a class="dropdown-item" href="{% url 'content_collection:carousel' %}"> Carousel</a> |
<a class="dropdown-item" href="{% url 'content_collection:carousel_recent' %}"> Carousel Recent</a> |
<a class="dropdown-item" href="{% url 'content_collection:dnd5e_list' %}"> D&amp;D 5e</a> |
<a class="dropdown-item" href="{% url 'content_collection:fantasy_grounds_list' %}"> Fantasy Grounds</a> |
<a class="dropdown-item" href="{% url 'content_collection:insult' %}"> Insult</a> |
<a class="dropdown-item" href="{% url 'content_collection:secrets_list_all' %}"> Secrets</a> |
<!-- <a class="dropdown-item" href="{% url 'content_collection:buzz_words_or_phrases_list_all' %}"> Buzz Words</a> | -->
<a class="dropdown-item" href="{% url 'content_collection:sketches' %}"> Sketches</a> |
<a class="dropdown-item" href="{% url 'content_collection:sensor_readings' %}"> Sensor Readings</a>