{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>

<div class="row ben_format_pretty">
    List of Dungeons &amp; Dragons (5th Edition) books, some may be hidden because of access.

    <br /><br />
        <ul>
        {% for item in videos %}
            {% if item.restricted %}
                {% if unrestricted_user %}
                    <li><a href="{% url 'content_collection:video_list' %}{{ item.pk }}">#{{ item.pk }} - {{ item.file_title }}</a>
                {% else %}
                    <li><a href="{% url 'content_collection:video_list' %}{{ item.pk }}">#{{ item.pk }} - [ Title Hidden ]</a>
                {% endif %}
            {% else %}
                <li><a href="{% url 'content_collection:video_list' %}{{ item.pk }}">#{{ item.pk }} - {{ item.file_title}}</a>
            {% endif %}
                </li>
        {% endfor %}
        </ul>

</div>

{% endblock %}
