{% extends "imrunicorn/layout.html" %}

{% block extra_head %}


{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            This might take a bit to load, thank you for your patience.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
    <br />
     <hr style="height:2px;border-width:0;color:gray;background-color:red" />
    {% for record in secrets %}
        <a href="{{ record.path.url }}" target="_blank">{{ record.file_title }}</a><br />
        EXPIRES: {{ record.keep_alive_until }}
        {% if forloop.last  == False %}
            <hr style="height:2px;border-width:0;color:gray;background-color:red" />
        {% else %}
            <br />
        {% endif %}

    {% endfor %}
</div>

{% endblock %}
