{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    Contents collections come in various groups or types. We have videos, pictures, D&amp;D Books, Fantasy Grounds
    characters, insults (for vicious mockery), and now secrets. You're not going to get a password from the secrets
    collection. It's more of a collection of things for us to remember that aren't entirely public.
</div>

{% endblock %}
