{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">

    {% for item in insults %}
        <strong>{{ item }}</strong>
        {% if forloop.last  == False %}
            <br /><i>OR</i><br />
        {% else %}
            <br /><br />
            View the <a href="{% url 'content_collection:insult_list_all' %}">insult list</a><br />
            View the <a href="/api/content_collection/insults/" target="_blank">insult list</a> (API LIST)<br />
        {% endif %}
    {% endfor %}


    {% if status_code_message|length > 0 %}
        <br /><br /><i>{{ status_code_message }}</i>
    {% endif %}
</div>

{% endblock %}
