{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<div class="row ben_format_pretty">
    <strong>{{ insult }}</strong><br /><br />
    View the <a href="/api/content_collection/insults/" target="_blank">insult list</a> (API LIST)
    {% if status_code_message|length > 0 %}
        <br /><br /><i>{{ status_code_message }}</i>
    {% endif %}
</div>

{% endblock %}
