{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            This might take a bit to load, thank you for your patience.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    {% for insult in secrets %}

        <strong>{{ insult.title }}</strong><br />
        {% autoescape off %}
            {{ insult.message }}
        {% endautoescape %}

        {% if forloop.last  == False %}
            <hr style="height:2px;border-width:0;color:gray;background-color:red" />
        {% else %}
            <br />
        {% endif %}

    {% endfor %}
</div>

{% endblock %}
