<a class="dropdown-item" href="{% url 'content_collection:sensor_readings' %}"> All</a> |
<a class="dropdown-item" href="{% url 'content_collection:sensor_readings' sensor_shortname='H_Stickers' %}"> H_Stickers</a> |
<a class="dropdown-item" href="{% url 'content_collection:sensor_readings' sensor_shortname='A_BR_Closet' %}"> A_BR_Closet</a> |
<a class="dropdown-item" href="{% url 'content_collection:sensor_readings' sensor_shortname='A_Winchester_1' %}"> A_Winchester_1</a> |
<a class="dropdown-item" href="{% url 'content_collection:sensor_readings' sensor_shortname='A_LivingRoom' %}"> A_LivingRoom</a> |
<a class="dropdown-item" href="{% url 'content_collection:sensor_readings' sensor_shortname='Sandbox' %}"> Sandbox</a>