{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'content_collection/sensor_readings_menu.html' %}
    </div>
</div>
</div>
<br />


<div class="row ben_format_pretty">
    <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>

{#help from https://simpleisbetterthancomplex.com/tutorial/2018/04/03/how-to-integrate-highcharts-js-with-django.html#}

  Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Temperature and Humidity Sensor'
        },
        xAxis: {
            categories: [{% for entry in dataset %}'{{ entry.read_datetime|date:"g A" }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
        },

        series: [{
            name: 'Fahrenheit',
            data: [{% for entry in dataset %}{{ entry.fahrenheit }}{% if not forloop.last %}, {% endif %}{% endfor %}]
        }, {
            name: 'Humidity',
            data: [{% for entry in dataset %}{{ entry.humidity }}{% if not forloop.last %}, {% endif %}{% endfor %}]
        }]

{% comment %}
        series: [{
            name: 'Top Of Stickers',
            data: [98.7, 98.8, 99.2, 78.2]
        }, {
            name: 'Inside Stickers',
            data: [95.7, 91.8, 92.2, 73.2]
        }]
{% endcomment %}

    });

  </script>


</div>

{% endblock %}
