{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>

{#help from https://simpleisbetterthancomplex.com/tutorial/2018/04/03/how-to-integrate-highcharts-js-with-django.html#}

  Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: ['dateTime_1', 'dateTime_2', 'dateTime_3', 'dateTime_4', 'dateTime_5']
        },
        series: [{
            name: 'SensorLocation_1',
            data: [98.7, 98.8, 99.2, 78.2, 97.5]
        }, {
            name: 'SensorLocation_2',
            data: [95.7, 91.8, 92.2, 73.2, 97.5]
        }, {
            name: 'SensorLocation_3',
            data: [96.7, 94.8, 93.2, 76.2, 67.5]
        }]
    });

  </script>


</div>

{% endblock %}
