{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    <br /><br />
        <ul>
        {% for item in sketches %}
            {% if item.restricted %}
                {% if unrestricted_user %}
                    <li><a href="{% url 'content_collection:sketches' %}{{ item.pk }}">#{{ item.pk }} - {{ item.title }}</a>
                {% else %}
                    <li><a href="{% url 'content_collection:sketches' %}{{ item.pk }}">#{{ item.pk }} - [ Access denied, title hidden ]</a>
                {% endif %}
            {% else %}
                <li><a href="{% url 'content_collection:sketches' %}{{ item.pk }}">#{{ item.pk }} - {{ item.title}}</a>
            {% endif %}
                </li>
        {% endfor %}
        </ul>

</div>

{% endblock %}
