{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'content_collection/sensor_readings_menu.html' %}
    </div>
</div>
</div>
<br />

<div class="row ben_format_pretty">
  <ul class="list-group list-group-flush">
    {% for todo in data %}
    <li class="list-group-item">{{ todo.id }} - {{ todo.title }}</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
