{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
        <div align="center">
        <div>
            {% include 'content_collection/chart_menu.html' %}
        </div>
    </div>
</div>
<br />


<div class="row ben_format_pretty">
    <center>
        {% for item in videos %}
            {% if item.restricted %}
                {% if unrestricted_user %}
                    <video width="640" height="480" controls>
                        <source src="{{ item.file_name.url }}" type="video/mp4">
                    </video>
                {% else %}
                    Access to this video is restricted to a group which you are not part of as <strong>{{user}}</strong>.
                {% endif %}
            {% else %}
                <br />
                <video width="640" height="480" controls>
                    <source src="{{ item.file_name.url }}" type="video/mp4">
                </video>
            {% endif %}
        {% endfor %}
    </center>

</div>

{% endblock %}
