<a class="dropdown-item" href="{% url 'meme_leach:sfw_meme_list' %}"> Meme List (SFW)</a> |
<a class="dropdown-item" href="{% url 'meme_leach:subreddit' %}"> Popular*</a> |
<a class="dropdown-item" href="{% url 'meme_leach:subreddit' %}appleseed"> Appleseed</a> |
<a class="dropdown-item" href="{% url 'meme_leach:subreddit' %}mylittlepony"> My Little Pony</a>