{% extends "imrunicorn/layout.html" %}
{% block content %}
{% load humanize %}
<h2>{{ title }}</h2>


<div class="row">
    <div class="col-md-12">
        <p>
            Invites sorted by date, am/pm then primary/secondary. Forgive the clunky look.
        </p>

        <table width="65%" border="1" align="center">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                 Invite Slot
             </th>
             </th>
                <th bgcolor="808080" style="text-align: center">
                 MDShooters Name
             </th>
                <th bgcolor="808080" style="text-align: center">
                 Is Secondary
             </th>

        </tr>

          {% if all_invites != None %}
          {% for invite in all_invites %}
              {% if invite.Invite_AM %}
            <tr bgcolor="#F5F5F5">
              <td id="td-ocw">{{ invite.Invite_Date|date:'m/d/Y' }} -- [08:00AM - 12:01PM]</td>
              <td id="td-ocw">{{ invite.MDShooters_Name }}</td>
              <td id="td-ocw">{{ invite.Invite_Secondary }}</td>
                </tr>
              {% else %}
            <tr bgcolor="#BEBEBE">
              <td id="td-sheriff">{{ invite.Invite_Date|date:'m/d/Y' }} -- [12:30PM - 04:30PM]</td>
              <td id="td-sheriff">{{ invite.MDShooters_Name }}</td>
              <td id="td-sheriff">{{ invite.Invite_Secondary }}</td>
            </tr>
              {% endif %}

          {% endfor %}
          {% endif %}

      </table>

   </div>
</div>


{% endblock %}
