{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
<script src="https://kit.fontawesome.com/9a11d62cbf.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="jumbotron">
    <h1>Farm Invites</h1>
    <p class="lead">Listings are now 99.9% private.</p>
</div>

{% if request.user|has_group:"farminvite_editor" %}
<div class="row ben_center">
    <div class="col-md-12">
        <p>
            {% autoescape off %}
            {{ blurb }}
            {% endautoescape %}
        </p>

        <table width="65%" border="1" align="center">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                    Invite Slot
                </th>
                </th>
                <th bgcolor="808080" style="text-align: center">
                    MDShooters Name
                </th>
                <th bgcolor="808080" style="text-align: center">
                    Is Secondary
                </th>
                <th bgcolor="808080" style="text-align: center">
                    Registration Completion
                </th>

            </tr>


            {% if all_invites != None %}
            {% for invite in all_invites %}
            {% if invite.Desired_Time_Slot == "AM" %}
            <tr bgcolor="#F5F5F5">
                <td>{{ invite.Invite_Date|date:'m/d/Y' }} -- [08:00AM - 12:01PM]</td>

                {% if request.user|has_group:"farminvite_editor" %}
                <td data-toggle="tooltip"
                    title="RealName: {{ invite.Real_Name }}  --  Phone: {{ invite.Phone_Number }}  --  E-Mail: {{ invite.EMail }}">
                    <a href="/admin/farminvite/invitelisting/{{ invite.pk }}/change/" target="_blank"><i class="fas fa-edit"></i></a>
                    <a href="/admin/auth/user/add/?username={{ invite.MDShooters_Name }}" target="_blank">{{ invite.MDShooters_Name }}</a>
                </td>
                {% else %}
                <td data-toggle="tooltip" title="Info Redacted">{{ invite.MDShooters_Name }}</td>
                {% endif %}

                <td>{{ invite.Invite_Secondary }}</td>

                {% if invite.MDShooters_Name != 'SLOT AVAILABLE' and invite.MDShooters_Name != 'Tannerite Fun In The Sun' %}
                {% if invite.Phone_Number and invite.EMail%}
                <td> {{ contact_good }}</td>
                {% elif invite.Phone_Number %}
                <td><a href="{% url 'farm_invite:missing_contact_info' %}"><strong>{{ contact_okay }}</strong></a>
                </td>
                {% elif invite.EMail %}
                <td><a href="{% url 'farm_invite:missing_contact_info' %}"><strong>{{ contact_poor }}</strong></a>
                </td>
                {% else %}
                <td><a href="{% url 'farm_invite:missing_contact_info' %}"><strong>{{ contact_bad }}</strong></a>
                </td>
                {% endif %}
                {% else %}
                <td><a href="{% url 'farm_invite:invite_listing' %}">Request Slot</a></td>
                {% endif %}

            </tr>
            {% else %}
            <tr bgcolor="#BEBEBE">
                <td>{{ invite.Invite_Date|date:'m/d/Y' }} -- [12:30PM - 04:30PM]</td>

                {% if request.user|has_group:"farminvite_editor" %}
                <td data-toggle="tooltip"
                    title="RealName: {{ invite.Real_Name }}  --  Phone: {{ invite.Phone_Number }}  --  E-Mail: {{ invite.EMail }}">
                    <a href="/admin/farminvite/invitelisting/{{ invite.pk }}/change/" target="_blank"><i class="fas fa-edit"></i></a>
                    <a href="/admin/auth/user/add/?username={{ invite.MDShooters_Name }}" target="_blank">{{ invite.MDShooters_Name }}</a>
                </td>
                {% else %}
                <td data-toggle="tooltip" title="Info Redacted">{{ invite.MDShooters_Name }}</td>
                {% endif %}

                <td>{{ invite.Invite_Secondary }}</td>

                {% if invite.MDShooters_Name != 'SLOT AVAILABLE' and invite.MDShooters_Name != 'Tannerite Fun In The Sun' %}
                {% if invite.Phone_Number and invite.EMail%}
                <td> {{ contact_good }}</td>
                {% elif invite.Phone_Number %}
                <td><a href="{% url 'farm_invite:missing_contact_info' %}"><strong>{{ contact_okay }}</strong></a>
                </td>
                {% elif invite.EMail %}
                <td><a href="{% url 'farm_invite:missing_contact_info' %}"><strong>{{ contact_poor }}</strong></a>
                </td>
                {% else %}
                <td><a href="{% url 'farm_invite:missing_contact_info' %}"><strong>{{ contact_bad }}</strong></a>
                </td>
                {% endif %}
                {% else %}
                <td><a href="{% url 'farm_invite:invite_listing' %}">Request Slot</a></td>
                {% endif %}

            </tr>
            {% endif %}

            {% endfor %}
            {% endif %}

        </table>

    </div>
</div>

{% else %}

<p align="center">Invites are hidden except from 'farminvite_editor' members.</p>

{% endif %}


{% endblock %}
