{% extends "imrunicorn/layout.html" %}
{% block content %}
{% load humanize %}
<h2>{{ title }}</h2>


<div class="row">
    <div class="col-md-12">
        <p>
            Invites sorted by date then primary/secondary. Forgive the clunky look.
        </p>

        <table width="85%" border="1" align="center">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                 Invite Date
             </th>
             </th>
                <th bgcolor="808080" style="text-align: center">
                 MDShooters Name
             </th>
                <th bgcolor="808080" style="text-align: center">
                 Is Secondary
             </th>

        </tr>

          {% if all_invites != None %}
          {% for invite in all_invites %}
          <tr bgcolor="#F5F5F5">
              {% if invite.Invite_AM %}
              <td id="td-ocw">{{ invite.Invite_Date }} -- [08:00AM - 12:01PM]</td>
              {% else %}
              <td id="td-ocw">{{ invite.Invite_Date }} -- [12:30PM - 04:30PM]</td>
              {% endif %}

              <td id="td-ocw">{{ invite.MDShooters_Name }}</td>
              <td id="td-ocw">{{ invite.Invite_Secondary }}</td>
          </tr>
          {% endfor %}
          {% endif %}

      </table>

   </div>
</div>


{% endblock %}
