{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
<style>
td.padded {
  padding-left: 10px;
}
</style>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">Who's ready and who's not.</p>
</div>


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />

<div class="row ben_format_pretty">
    <div class="col-md-12">
        <p>Read the <a href="{% url 'farm_invite:how_do_i_sign_up' %}">'Sign Up Info'</a> for more info.<br /><br /></p>
        <p>
            {% autoescape off %}
            {% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}
            {% endautoescape %}
        </p>

        <table width="100%" border="1" align="center">
            <tr bgcolor="#808080">
                <th bgcolor="808080" style="text-align: center">
                    Invite Slot
                </th>
                </th>
                <th bgcolor="808080" style="text-align: center">
                    Display Name
                </th>
                <th bgcolor="808080" style="text-align: center">
                    Registration Completion
                </th>

            </tr>


            {% if all_invites != None %}
                {% for invite in all_invites %}

                <tr bgcolor="#F5F5F5">
                    <td class="padded">{{ invite.Invite_Date|date:'m/d/Y' }} [ID: {{ invite.id }}]</td>

                    {% if request.user|has_group:"farminvite_editor" %}
                    <td class="padded" data-toggle="tooltip"
                        title="Entry Name: {{invite.Invite_Display_Name}}
Paid: {{ invite.Paid}}
RealName: {{ invite.Real_Name }}
Phone: {{ invite.Phone_Number }}
E-Mail: {{ invite.EMail }}
Invite_ID: {{ invite.id }}">
                        <a href="/admin/farminvite/invitelisting/{{ invite.pk }}/change/" target="_blank">
                            <i class="fas fa-edit"></i></a>
                        <a href="/admin/auth/user/add/?username={{ invite.Invite_Display_Name }}" target="_blank">
                            {{ invite.Invite_Display_Name }}</a>
                    </td>
                    {% else %}
                    <td class="padded" data-toggle="tooltip" title="Info Redacted">{{ invite.Invite_Display_Name }}</td>
                    {% endif %}

                    {% if invite.Invite_Display_Name != 'SLOT AVAILABLE' and invite.Invite_Display_Name != 'Tannerite Fun In The Sun' %}
                        {% if invite.Paid %}
                            <td class="padded">{{ contact_good }}</td>
                        {% else %}
                            <td class="padded">{{ contact_bad }}</td>
                        {% endif %}
                    {% else %}
                        <td class="padded"><a href="{% url 'farm_invite:invite_listing' %}">Request Slot</a></td>
                    {% endif %}

                </tr>

                {% endfor %}
            {% endif %}

        </table>

    </div>
</div>



{% endblock %}
