<h3><i>Farm Invite Menu</i></h3> <br />
<a class="dropdown-item" href="{% url 'farm_invite:home' %}"> Home</a> |
<a class="dropdown-item" href="{% url 'farm_invite:how_do_i_sign_up' %}"> Sign Up Info</a> |
<a class="dropdown-item" href="{% url 'farm_invite:invite_listing' %}"> Request Slot</a> |
<a class="dropdown-item" href="{% url 'farm_invite:check_list' %}"> Checklist</a> |
<a class="dropdown-item" href="{% url 'farm_invite:cash_app' %}"> Ca$h App</a> |
<a class="dropdown-item" href="{% url 'farm_invite:missing_contact_info' %}"> Missing Info List</a> |
<a class="dropdown-item" href="{% url 'farm_invite:map_secret_sort_of' %}"> Map</a>