{% extends "imrunicorn/layout.html" %}

{% block content %}

<div class="jumbotron wallpapered">

    <h1 style="text-shadow: 4px 3px 5px #CE5937;
                      font-family: 'Comic Sans MS', cursive, sans-serif;
                      font-size: 73px;
                      font-weight: 400;">Coming Soon</h1>

    <p class="lead">The robot that lives in this website is working hard to bring you this page, eventually.
    </p>
</div>

<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />
<div class="row ben_format_pretty">
    <div class="col-md-12" align="center">
        This page doesn't exist, yet.
    </div>
</div>

<br/><br/>

{% endblock %}
