{% extends "imrunicorn/layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<br/>


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />

<div class="row ben_format_pretty">
    <div align="left" class="col-md-12">
        <div align="center" class="col-md-12">
            <p>Want to help out? Feel free to donate. Donations go toward reloading costs, targets and other misc things for the 'range'.
            </p>
            <p>
                <a href="https://cash.app/$BenSpelledABC" target="_blank">
                    <img height="300" src="{% static '/content/cashapp_benspelledabc.jpg' %}"/>
                </a>
            </p>
        </div>
    </div>
</div>

<br/><br/>

{% endblock %}
