{% extends "imrunicorn/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h4>The map isn't public.</h4>
    </div>
</div>

<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />

<div class="row ben_format_pretty">
    <div class="col-md-12" align="center">
        The real map location will get shared w/ you a couple days before your event.
    </div>
</div>

<br/><br/>

{% endblock %}
