{% extends "imrunicorn/layout.html" %}

{% block content %}

    {% load static %}
{% load humanize %}
<h2>{{ title }}</h2>
<div class="row ben_format_pretty">
    <div class="col-md-12">
        <h4>This is a very crude map to get to the range at the farm. The road is a
            tractor road therefore low riding cars will not make it! When GPS
            says you are there and you start to go in the driveway
            STAY LEFT (<span style="color: red; background-color: #0f0f0f ">RED</span>).
            <br /><br />If you go to the
            right (<span style="color: blue; background-color: #0f0f0f ">BLUE</span>) you will end up at
            the wrong section of the property.
            <br /><br />The (<span style="color: white; background-color: #0f0f0f ">White</span>)
            circle on the map is where a Backhoe/tractor MIGHT be parked. This is
            also the most likely spot your car will bottom out if it's too low. Watch the road!
            <br /><br />It might even be worth telling me the color/type of car you're driving BEFORE
            you come onto the property. There are no trespassing signs up, don't get caught with
            your pants down.!

        </h4>
    </div>
</div>
<hr/>


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />
<div class="row">
    <div class="col-md-12" align="center">
        1700 Indian Valley Trail Westminster, MD 21158<br />
        <img src="{% static '/content/farmMap.png' %}" />
    </div>
</div>

<br/><br/>

{% endblock %}
