{% extends "imrunicorn/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

    {% load static %}
{% load humanize %}
<h2>{{ title }}</h2>
<div class="row ben_center">
    <div class="col-md-12">
        This is still a first come first serve situation but it's a bit easier to request a time slot. Only submit the form once and
        wait for me to approve it. It won't automatically show up on the listing because I need to approve it etc etc.<br /><br />
        The form doesn't pass in the values at the moment so please validate the date/time you're requesting. I'l fix that by the
        end of the week.. or sooner if I can.

    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-12" align="center">
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
            <button type="submit">Submit</button>
            </form>
    </div>
</div>

<br/><br/>

{% endblock %}
