{% extends "imrunicorn/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% load static %}
{% load humanize %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>

<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />

<div class="row ben_format_pretty">
    <div class="col-md-4" align="center">
        <h3>All invites are "all day" now instead of 4hour timeslots!</h3><br /><br />
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<br/><br/>

{% endblock %}
