{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}

{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">Contact info <strong>MUST</strong> be 100% now.</p>
</div>


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />

<div class="row ben_format_pretty">
    <div class="col-md-12">
        {% autoescape off %}
        <h4>{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</h4>
        {% endautoescape %}
    </div>
</div>
<br /><br />

<table width="65%" border="1" align="center">
    <tr bgcolor="#808080">
        <th bgcolor="808080" style="text-align: center">
            Invite Date
        </th>
        </th>
        <th bgcolor="808080" style="text-align: center">
            Display Name
        </th>
        <th bgcolor="808080" style="text-align: center">
            Phone On File
        </th>
        <th bgcolor="808080" style="text-align: center">
            EMail On File
        </th>

    </tr>

    {% if all_invites != None %}
    {% for invite in all_invites %}

    {% if invite.Invite_Display_Name != 'SLOT AVAILABLE' %}
    <tr bgcolor="#F5F5F5">
        <td id="td-ocw">{{ invite.Invite_Date|date:'m/d/Y' }} </td>

         {% if request.user|has_group:"farminvite_editor" %}
                <td data-toggle="tooltip"
                    title="RealName: {{ invite.Real_Name }}  --  Phone: {{ invite.Phone_Number }}  --  E-Mail: {{ invite.EMail }}">
                    <a href="/admin/farminvite/invitelisting/{{ invite.pk }}/change/" target="_blank"><i class="fas fa-edit"></i></a>
                    {{ invite.Invite_Display_Name }}
                </td>
                {% else %}
                <td data-toggle="tooltip" title="Info Redacted">{{ invite.Invite_Display_Name }}</td>
                {% endif %}

        <td id="td-ocw">{% if invite.Phone_Number %}True{% else %}<strong>False</strong>{% endif %}</td>
        <td id="td-ocw">{% if invite.EMail %}True{% else %}<strong>False</strong>{% endif %}</td>
    </tr>

    {% endif %}

    {% endfor %}
    {% endif %}

</table>


<br/><br/>


{% endblock %}
