{% extends "imrunicorn/layout.html" %}
{% block content %}
{% load humanize %}
<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-12">
        {% autoescape off %}
        <h4>{{ blurb }}</h4>
        {% endautoescape %}
    </div>
</div>
<br /><br />

<table width="65%" border="1" align="center">
    <tr bgcolor="#808080">
        <th bgcolor="808080" style="text-align: center">
            Invite Slot
        </th>
        </th>
        <th bgcolor="808080" style="text-align: center">
            MDShooters Name
        </th>
        <th bgcolor="808080" style="text-align: center">
            Phone On File
        </th>
        <th bgcolor="808080" style="text-align: center">
            EMail On File
        </th>

    </tr>

    {% if all_invites != None %}
    {% for invite in all_invites %}

    {% if invite.Desired_Time_Slot == "AM" %}
    {% if invite.MDShooters_Name != 'SLOT AVAILABLE' %}
    <tr bgcolor="#F5F5F5">
        <td id="td-ocw">{{ invite.Invite_Date|date:'m/d/Y' }} -- [08:00AM - 12:01PM]</td>
        <td id="td-ocw">{{ invite.MDShooters_Name }}</td>
        <td id="td-ocw">{% if invite.Phone_Number %}True{% else %}<strong>False</strong>{% endif %}</td>
        <td id="td-ocw">{% if invite.EMail %}True{% else %}<strong>False</strong>{% endif %}</td>
    </tr>
    {% endif %}

    {% else %}
    {% if invite.MDShooters_Name != 'SLOT AVAILABLE' %}
    <tr bgcolor="#BEBEBE">
        <td id="td-sheriff">{{ invite.Invite_Date|date:'m/d/Y' }} -- [12:30PM - 04:30PM]</td>
        <td id="td-sheriff">{{ invite.MDShooters_Name }}</td>
        <td id="td-sheriff">{% if invite.Phone_Number %}True{% else %}<strong>False</strong>{% endif %}</td>
        <td id="td-sheriff">{% if invite.EMail %}True{% else %}<strong>False</strong>{% endif %}</td>
    </tr>
    {% endif %}
    {% endif %}

    {% endfor %}
    {% endif %}

</table>


<br/><br/>

{% endblock %}
