{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}

{% block content %}
{% load humanize %}

<div class="jumbotron">
    <h1>{{ title }}</h1>
    <p class="lead">Contact info <strong>MUST</strong> be 100% now.</p>
</div>

{% if request.user|has_group:"farminvite_editor" %}

<div class="row ben_format_pretty">
    <div class="col-md-12">
        {% autoescape off %}
        <h4>{{ blurb }}</h4>
        {% endautoescape %}
    </div>
</div>
<br /><br />

<table width="65%" border="1" align="center">
    <tr bgcolor="#808080">
        <th bgcolor="808080" style="text-align: center">
            Invite Slot
        </th>
        </th>
        <th bgcolor="808080" style="text-align: center">
            MDShooters Name
        </th>
        <th bgcolor="808080" style="text-align: center">
            Phone On File
        </th>
        <th bgcolor="808080" style="text-align: center">
            EMail On File
        </th>

    </tr>

    {% if all_invites != None %}
    {% for invite in all_invites %}

    {% if invite.Desired_Time_Slot == "AM" %}
    {% if invite.MDShooters_Name != 'SLOT AVAILABLE' %}
    <tr bgcolor="#F5F5F5">
        <td id="td-ocw">{{ invite.Invite_Date|date:'m/d/Y' }} -- [08:00AM - 12:01PM]</td>

         {% if request.user|has_group:"farminvite_editor" %}
                <td data-toggle="tooltip"
                    title="RealName: {{ invite.Real_Name }}  --  Phone: {{ invite.Phone_Number }}  --  E-Mail: {{ invite.EMail }}">
                    <a href="/admin/farminvite/invitelisting/{{ invite.pk }}/change/" target="_blank"><i class="fas fa-edit"></i></a>
                    {{ invite.MDShooters_Name }}
                </td>
                {% else %}
                <td data-toggle="tooltip" title="Info Redacted">{{ invite.MDShooters_Name }}</td>
                {% endif %}

        <td id="td-ocw">{% if invite.Phone_Number %}True{% else %}<strong>False</strong>{% endif %}</td>
        <td id="td-ocw">{% if invite.EMail %}True{% else %}<strong>False</strong>{% endif %}</td>
    </tr>
    {% endif %}

    {% else %}
    {% if invite.MDShooters_Name != 'SLOT AVAILABLE' %}
    <tr bgcolor="#BEBEBE">
        <td id="td-sheriff">{{ invite.Invite_Date|date:'m/d/Y' }} -- [12:30PM - 04:30PM]</td>

 {% if request.user|has_group:"farminvite_editor" %}
                <td data-toggle="tooltip"
                    title="RealName: {{ invite.Real_Name }}  --  Phone: {{ invite.Phone_Number }}  --  E-Mail: {{ invite.EMail }}">
                    <a href="/admin/farminvite/invitelisting/{{ invite.pk }}/change/" target="_blank"><i class="fas fa-edit"></i></a>
                    {{ invite.MDShooters_Name }}
                </td>
                {% else %}
                <td data-toggle="tooltip" title="Info Redacted">{{ invite.MDShooters_Name }}</td>
                {% endif %}


        <td id="td-sheriff">{% if invite.Phone_Number %}True{% else %}<strong>False</strong>{% endif %}</td>
        <td id="td-sheriff">{% if invite.EMail %}True{% else %}<strong>False</strong>{% endif %}</td>
    </tr>
    {% endif %}
    {% endif %}

    {% endfor %}
    {% endif %}

</table>


<br/><br/>


{% else %}

<p align="center">Even if you have an account this is viewable only by a subset of members.</p>

{% endif %}

{% endblock %}
