{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}

{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">What do I normally bring?</p>
</div>

<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />

<div class="row ben_format_pretty">
    <div class="col-md-12">
        {% autoescape off %}
        <h4>{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</h4>
        {% endautoescape %}
    </div>

    <div class="col-md-12">

        <br /><br />

    <ul>
        {% for order in query_result %}
            <li>
                {{order.List_Date}}<br />
            </li>
            <ul>
                {% for item in order.Items.all %}
                    {% if item.Private_Item %}
                        {% if unrestricted_user %}
                            <li><i>{{ item }}</i> [Private]</li>
                        {% else %}
                            <li><i>Private Item Hidden</i></li>
                        {% endif %}
                    {% else %}
                        <li>{{ item }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <br />
        {% endfor %}
    </ul>




    </div>
</div>

{% endblock %}
