{% extends "imrunicorn/layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<br/>


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />
<div class="row ben_format_pretty">
    <div align="left" class="col-md-12">

        I've taken some lessons learned from the 2019, 2020 and 2021 invites. For the most part, invites are only going to
        people I've met personally or someone will speak on their behalf. There's a lot to say about character in a
        personal introduction. While I'm all for helping people become a better shooter I don't subscribe to the
        'accuracy by volume' version of marksmanship. Too many targets were ruined in the last invites without compensation.
        <br/>
        <br/>

        Sometimes people have <i>full sized egos</i> attached and flapping in the wind. It's not safe to pull them 
        out and show everyone around when firearms are involved.
        <br/>
        <br/>

        I'm going up every Saturday and will simply get on site then send out messages to people on the list for that day. The 
        invites are based off the registration number or id. First to register gets the first invite. The exception to that is people that register 
        for every single weekend all at once. Pick a weekend with a backup, not 30 backups. I've tried the "any weekend" approach and 
        it's too open ended so it never works out.
        <br/>
        <br/>

        Donation of steel targets, 2x4 to hold said target, ammo or brass (of a caliber I reload for) is always welcome as well as 
        a straight up cash donation via Ca$hApp.
        
        <br/>
        {% if cash_app == "Show_QR_Code" %}
        <br/>
        <div align="center" class="col-md-12">
            <p>

                <a href="https://cash.app/$BenSpelledABC" target="_blank">
                    <img height="300" src="{% static '/content/cashapp_benspelledabc.jpg' %}"/>
                </a>
            </p>
        </div>
        {% endif %}

            
    </div>
</div>

<br/><br/>

{% endblock %}
