{% extends "imrunicorn/layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<br />


<div class="row ben_format_pretty">
    <div align="center">
    <div>
        {% include 'farminvite/chart_menu.html' %}
    </div>
</div>
</div>

<br />

<div class="row ben_format_pretty">
    <div class="col-md-12" align="left">
    {% autoescape off %}
    <p>{{ table_data }}</p>
    {% endautoescape %}

        <br />
        {% if cash_app == "Show_QR_Code" %}
        <br />
        <div class="col-md-12" align="center">
        <p>

        <a href="https://cash.app/$BenSpelledABC" target="_blank">
            <img src="{% static '/content/cashapp_benspelledabc.jpg' %}" height="300" />
        </a>
        </p>
        </div>
        {% endif %}
    </div>
</div>

<br/><br/>

{% endblock %}
