{% extends "imrunicorn/layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<br/>
<div class="row ben_format_pretty">
    <div align="left" class="col-md-12">

        <strong>Strongly recommended items</strong>
        <ul>
            <li>Signed Legal Waver</li>
            <ul>
                <li>Keeping the lawyers at bay.</li>
                <li>I don't want some jackal to come onto the property then sue me because reason XYZ.</li>
            </ul>
            <li>Ear protection</li>
            <ul>
                <li>Once mine are in, they don't come out for the day unless we are shooting with suppressors.</li>
            </ul>
            </li>
            <li>Eye protection</li>
            <ul>
                <li>Steel in the eye sucks.</li>
            </ul>
            </li>
            <li>Chair to sit on</li>
            <ul>
                <li>Being prone or standing for 4-8 hours is uncomfortable.</li>
            </ul>
            </li>
            <li>Ground Cover</li>
            <ul>
                <li>Shooting Mat</li>
                <ul>
                    <li>Keeps you out of the dirt/mud/snow and deer poop.</li>
                </ul>
                <li>Big and old blanket or a tarp</li>
                <ul>
                    <li>Keeps you out of the dirt/mud/snow and deer poop.</li>
                    <li>Also helps in the <i>brass pickup</i> phase of the visit.</li>
                </ul>

            </ul>
            </li>
            <li>Firearm</li>
            <ul>
                <li>ZEROED (or close) for your ammo.</li>
                <li>AMMO for said firearm.</li>
            </ul>
            <li>Snacks/Drinks for yourself.</li>
            <ul>
                <li>I wouldn't deviate too much from your daily routine. Hydration is key.</li>
            </ul>
            <li>Shovel</li>
            <ul>
                <li>Used to dig a hole to shit in.</li>
                <ul>
                    <li>House is off limits.</li>
                    <li>I recommend two grocery bags and wet wipes!</li>
                </ul>
            </ul>
            <li>Sense of humor</li>
            <ul>
                <li>Ability to be serious when holding a firearm.</li>
                <li>Fun and creative reasons for missing the target from time to time.</li>
                <li>We don't want people to be dangerous/careless with a <i>'weapon of war'...</i></li>
                <li>God forbid, don't go fully semi automatic!</i></li>
                <li>Leave your <i>weapon of war</i> or AR-14s at home.</li>
                <ul>
                    <li>Unless it's an Angry Joe AR-14, please bring that one.</li>
                </ul>
            </ul>

            <li>Targets</li>
            <ul>
                <li>If you have steel targets you want to shoot and don't shoot mine at all, I'll refund a large portion
                    of your registration fee at the end of the event. The targets I'll have setup are 3/8 or 1/2 inch
                    AR500 steel plates. They will stand up to most
                    rounds unless they are armor piercing. If they impact at 3000 fps or more, we'll have to shoot
                    something else first to confirm zero at 100 yards. I've shot them at 100 yards with a 22-250 and
                    left pits in the steel. I've shot them with a 300 win mag at 100 yards and it was fine. If you're
                    not sure about the speed of the bullet, I'll make a judgement call based on caliber, bullet weight,
                    barrel length etc etc. I'll have a target to shoot at 100 yards that's not paper. It's a small
                    bowling pin kind of thing.
                </li>
                <li>Oranges, make a great reactive target and are a small challenge shot at 500 yards.</li>
                <li>Apples, make a great reactive target and are a small challenge shot at 500 yards.</li>
                <li>Tangerines, make a great reactive target and are a small challenge shot at 200 yards.</li>
                <li>Grapes, make a great reactive target and are a small challenge shot at 100 yards.</li>
                <li>Plastic bottles filled with water (old soda bottles).</li>
                <li>Shotgun clays decent rifle targets at 100-500 yards.</li>
                <ul>
                    <li>Sometimes they just get a hole poked in them instead of exploding. This makes it hard
                        to see without a spotter.
                    </li>
                </ul>
                <li><strong>NO TANNERITE</strong>, sorry. It's not legal in the People's Republic of Maryland.</li>
            </ul>

        </ul>

        <br/><br/>
        <strong>What to LEAVE AT HOME</strong>
        <ul>
            <li>Ego</li>
            <li>Attitude</li>
            <li>Tannerite</li>
            <li>Incendiary or armor piercing rounds</li>
            <li>Politics</li>
                <ul>
                    <li>I don't want to talk politics on your range day. If you insist
                        on talking politics we can put away the firearms and I'll listen after you leave the property.</li>
                </ul>

            <li>Anything illegal or legal but a 'bad idea' around firearms.</li>
            <ul>
                <li>Weed (medical or not)</li>
                <ul>
                    <li>Seriously guys, it doesn't belong on the range even if you're not the one shooting.</li>
                </ul>
                <li>Alcohol</li>
                <ul>
                    <li>Seriously guys, it doesn't belong on the range even if you're not the one shooting.</li>
                    <li>Exceptions might be made if camping overnight, but don't count on it unless I know you well.
                    </li>
                </ul>
                <li>Bump stocks, binary/echo triggers etc etc.</li>
                <ul>
                    <li>I'm not into accuracy by volume.</li>
                    <li>If it magically becomes legal overnight again, it's still not allowed on my private property.
                    </li>
                </ul>
                <li>Suppressors, SBR, SBS etc etc</li>
                <ul>
                    <li>Okay, these are currently (11/22/2020) legal and encouraged but I'm likely to send you packing
                        if you don't have a
                        copy of the tax stamp on you.
                    </li>
                    <ul>
                        <li>Alternatively, we can make a simple quick video saying it's yours. Just in-case police show
                            up
                            and someone tries to stick me with a felony.
                        </li>
                        <li>Laws are very fluid on this stuff at the moment and while I would rather just assume
                            everyone
                            would do the right/legal thing, I also don't want to get a felony pined on me because I'm
                            over
                            trusting.
                        </li>
                    </ul>
                </ul>
            </ul>
            <li>Did I mention weed, ego and politics?</li>

        </ul>

    </div>
</div>

<br/><br/>

{% endblock %}
