<a class="dropdown-item" href="{% url 'event_photo_album:home' %}"> Home</a> |
<a class="dropdown-item" href="#"> Recent Events</a> |
<a class="dropdown-item" href="#"> Hot Event</a> |
<a class="dropdown-item" href="#"> Hot Photo</a>