{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
<script crossorigin="anonymous" src="https://kit.fontawesome.com/9a11d62cbf.js"></script>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<div class="row ben_format_pretty">
    <div align="center">
        You have been denied (or not allowed) access to this page. {{deny_message}}
    </div>
</div>
{% endblock %}
