{% extends "imrunicorn/layout.html" %}

{% block content %}

{% load humanize %}

{% if user.is_authenticated %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>

<div class="row">

    <div class="col-md-12" align="center">
        They say it'll take about <strong>{{ batf_total }}</strong> days total, <i>see exception below</i>.<br />
        This is the sum of {{ batf_check_cashed }} to get the check cashed,
        {{ batf_approved }} to get approved, and {{ batf_stamp_received }} to have it received.
        <br />
        <i>These dates are dynamically fetched from the netherworld or something.
            {% if cached_result == True %}
            <br /><br />
            We are having a problem pulling remote host. Displaying cached data.
            <br />
            {% endif %}
        </i>

        <br /><br />
        Days since input date to today:

        <script type="text/javascript">
            // JavaScript program to illustrate
            // calculation of no. of days between two date

            // To set two dates to two variables
            var date1 = new Date("{{ input_date }}");
            //var date2 = new Date("07/30/2020");
            var date2 = new Date(Date.now())

            // To calculate the time difference of two dates
            var Difference_In_Time = date2.getTime() - date1.getTime();

            // To calculate the no. of days between two dates
            var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);

            //To display the final no. of days (result)
            //document.write("Total number of days between dates  <br>"
            //    + date1 + "<br> and <br>"
            //    + date2 + " is: <br> "
            //    + Difference_In_Days.toFixed(0));

            //document.write("Days since: ");
            //document.write(Difference_In_Days.toFixed(0) + " days.");

            var diffSimple = Difference_In_Days.toFixed(0);
            document.write("<strong>" + diffSimple + " days</strong><br /><br />");

            ten_months = 10 * 30;
            document.write("<strong>Exception</strong>: As of 4/6/2020 the source says '10 months' (~" + ten_months + " days).");

        </script>


    </div>
</div>
{% else %}
<div class="jumbotron wallpapered">
    <h1>Access Denied</h1>
    <p class="lead">You have to logon to see this content now.</p>
</div>

<div class="row">

    <div class="col-md-12" align="center">
       Sorry for the inconvenience.
    </div>
</div>
{% endif %}

<br/><br/>

{% endblock %}
