{% extends "imrunicorn/layout.html" %}



{% block content %}
{% load humanize %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
        {{ blurb }}
        {% else %}
        The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}
    </p>
</div>

<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div>You came here for a reason, don't skim over this instead of reading it then ask 
            questions that are answered if your read the page.</div>

        <div style="text-align: justify;font-family:times new roman;"><span style="font-size:101%;"></span>

            <span style="font-size:101%;"><br /><br /></span><span style="font-size:101%;"><span><strong>(COMING SOON) STEP A-Z (or whatever):</strong></span></span><span style="font-size:101%;"><br /></span>
    <span style="font-size:101%;"><span> The steps are in the PDF below, eventually I'll move them to this page
        for easy consumption without needing to download a PDF. If you're here, you likely know and trust me anyway.
    </span></span><span style="font-size:101%;"></span>

            <span style="font-size:101%;"><br /><br /></span><span style="font-size:101%;"><span><strong>(X) OFFLINE VIEWING:
            </strong></span></span><span style="font-size:101%;"><br /></span>
    <span style="font-size:101%;"><span> The steps are
            identified in the PDF link. Enjoy! If you have questions, you likely know how to get ahold of me. <a
                href='https://benspelledabc.me/media/uploads/general/PA_Request_process.pdf'
                target='_blank'>Download PDF</a> </span></span><span style="font-size:101%;"></span>

            <span style="font-size:101%;"><br /><br /></span><span style="font-size:101%;"><span><strong>(FINAL) CAPT OBVIOUS :
            </strong></span></span><span style="font-size:101%;"><br /></span>
    <span style="font-size:101%;"><span> Your CCW (wear and carry permit) does not make you a police officer or give the ability to defy death.
    </span></span><span style="font-size:101%;"><br /><br /></span>


        </div>


        {% if show_lorem %}
        <p>{% lorem 3 p random %}</p>
        {% endif %}
    </div>
</div>

<br /><br /><br />

{% endblock %}