{% extends "imrunicorn/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>IMRUnicorn v{{ release.version }}</h1>
    <p class="lead">The robot is gone, it needed some work done.</p>
</div>

<div class="row">
    <div class="col-md-12" align="center">
        I'm slowly adding tools to go with the load data I've made. Keep in mind,
        these are MY loads not yours. Meaning, I'm not telling you they are safe for YOUR gun.
        They might not even be 'safe' for my gun. That's my problem not yours.
    </div>

    {% if news_date and news_blurb and news_body %}
        <br />
        <hr />
        <div class="col-md-12" align="center">
            <strong>{{ news_date }} - <i>{{ news_blurb }}</i></strong>
        </div>
        <div class="col-md-12" align="center">
            {% autoescape off %}
            {{ news_body }}
            {% endautoescape %}
        </div>
    {% endif %}

</div>


<br /><br />

{% endblock %}
