{% extends "imrunicorn/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>IMRUnicorn - Django</h1>
    <p class="lead">Just try it and see what kind of errors you can get.</p>
</div>

<div class="row">
    <div class="col-md-12" align="center">
        I'm slowly adding tools to go with the load data I've made. Keep in mind,
        these are MY loads not yours. Meaning, I'm not telling you they are safe for YOUR gun.
        They might not even be 'safe' for my gun. That's my problem not yours.
    </div>
</div>

<br /><br />

{% endblock %}
