{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}

<div class="jumbotron wallpapered">
    <h1>
        {{ title }}
    </h1>
    <p class="lead">
            {% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}
    </p>
    <p class="lead"><strong>Location: </strong>{{ weather.full_response.name }}<br />
        <strong>Sunrise:</strong> {{ sun_info.sunrise }} am
        <strong>Sunset:</strong> {{ sun_info.sunset }} pm
        <strong>Daylight Savings Time:</strong> {{ sun_info.daylight_savings }}<br />
        <strong>Temp:</strong> {{ weather.temperature }}&deg;F <i>(Feels Like: {{ weather.feels_like }}&deg;F)</i><br />
        <strong>Pressure:</strong> {{ weather.pressure }}mb <strong>Humidity:</strong> {{ weather.humidity }}&percnt; <br />
        <strong>Wind Speed:</strong> {{ weather.wind_speed }} mph
        {% if weather.wind_speed_gust > 0 %}
            <i>(<strong>Gusts:</strong> {{ weather.wind_speed_gust }} mph)</i>
        {% endif %}
        <br />
        <strong>Wind Direction:</strong>
        {{ comment }}
        <a href="https://www.sasquatchstation.com/images/dual-compass-rose.png" target="_blank"></a>
        {{ endcomment }}

        {{ weather.wind_dir }}&deg;
        ({{ weather.wind_dir_word }})<br />
        <strong>Sky:</strong> {{ weather.description }}<br /><br />
<!-- 
        <strong>Latest Sensor Reading</strong><br />
        <strong>Fahrenheit</strong>: {{ latest_sensor_reading.fahrenheit }}&deg;F
        <strong>Celsius</strong>: {{ latest_sensor_reading.celsius }}&deg;C
        <strong>Humidity</strong>: {{ latest_sensor_reading.humidity }}&percnt; -->
    </p>
</div>

<div class="row ben_format_pretty">
    <div align="center">
        {% if main_blurb != None %}
        {% autoescape off %}
         {{ main_blurb }}
        {% endautoescape %}
        {% endif %}
    </div>

    <br /><br />

{% autoescape off %}
        {% if all_news != None %}
            {% for news in all_news %}
                <hr style="height:2px;border-width:0;color:gray;background-color:red" />
                    <div style="font-size: x-large">
                    
                        {% if user.is_staff or user.get_username == news.Author.username %}
                            <!-- <a href="{% url 'news_by_pk' %}{{ news.pk }}"><i style="color:black;font-size: large" class="fas fa-dumpster-fire"></i></a>
                            <a href="{% url 'news_by_pk' %}{{ news.pk }}"><i style="color:black;font-size: large" class="fas fa-recycle"></i></a>
                             -->
                            <a href="{% url 'what_is_new_edit' %}{{ news.pk }}"><i style="color:black;font-size: large" class="fas fa-edit"></i></a>
                            
                        {% endif %}

                        {% if news.Is_Sticky %}
                            <i style="color:red;font-size: xx-large" class="fas fa-pastafarianism"></i>
                        {% endif %}
                        {% if news.Image_One or news.Image_Two %}
                            <i style="color:blue;font-size: large" class="fas fa-camera"></i>
                        {% endif %}

                        {% if news.Image_One or news.Image_Two or news.Is_Sticky %}
                        -
                        {% endif %}
                            <a href="{% url 'news_by_pk' %}{{ news.pk }}">{{ news.Date }} - <i>{{ news.Blurb }}</i></a>


                    </div><br/>
                {{ news.Body|slice:":250" }}

    {% if news.Body|length > 250 %}
    ...
    <br /><br />
                <a href="{% url 'news_by_pk' %}{{ news.pk }}" class="btn btn-primary">Read Full Post</a>
    {% endif %}

            {% endfor %}
        {% endif %}
{% endautoescape %}


</div>


<br /><br />

{% endblock %}
