{% extends "imrunicorn/layout.html" %}

{% block extra_head %}
<script src="https://kit.fontawesome.com/9a11d62cbf.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>{{ title }}</h1>
    <p class="lead">{{ blurb }}</p>
</div>

<div class="row ben_format_pretty">
    <div align="center">
        {% if main_blurb != None %}
        {% autoescape off %}
         {{ main_blurb }}
        {% endautoescape %}
        {% endif %}
    </div>

    <br /><br />

{% autoescape off %}
        {% if all_news != None %}
            {% for news in all_news %}
                <hr />
                    <div style="font-size: x-large">
                    {% if news.Is_Sticky %}
                        <i style="color:red;font-size: xx-large" class="fas fa-pastafarianism"></i>
                    {% endif %}
                    {% if news.Image_One %}
                        <a href="{{ news.Image_One.url }}" target="_blank"><i style="color:blue;font-size: large" class="fas fa-camera"></i></a>
                    {% endif %}
                       -  <a href="{% url 'news_by_pk' %}{{ news.pk }}">{{ news.Date }} - <i>{{ news.Blurb }}</i></a>
                    </div><br/>
                {{ news.Body|slice:":250" }}

    {% if news.Body|length > 250 %}
    ...
    <br /><br />
    <i class="fas fa-angle-double-left"></i>
                <a href="{% url 'news_by_pk' %}{{ news.pk }}">Read Full Post</a>
    <i class="fas fa-angle-double-right"></i>
    {% endif %}

            {% endfor %}
        {% endif %}
{% endautoescape %}

</div>


<br /><br />

{% endblock %}
