<!DOCTYPE html>
<html>
<head>
    {% load auth_extras %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{ title }}</title>

    {% load static %}
    <!-- <link href="{% static 'imrunicorn/content/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/> -->
    <!-- <link href="{% static 'imrunicorn/content/bootstrap.css' %}" rel="stylesheet" type="text/css"/> -->
    <!-- <link href="{% static 'imrunicorn/content/site.css' %}" rel="stylesheet" type="text/css"/> -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <style>
        div.ben_format_pretty {
            max-width:80%;
            margin: auto;
        }

        div.ben_format_pretty_border {
            max-width:80%;
            margin: auto;
            border: 3px solid #73AD21;
        }

    </style>

    {% block extra_head %}

    {% endblock %}


    <link href="{% static 'imrunicorn/favicon.ico' %}" rel="shortcut icon" type="image/png"/>


    <SCRIPT language="JavaScript">
        var grav = 32.175;

        function fix(num) {
            string = "" + num;
            if (string.indexOf('.') == -1)
                return string + '.00';
            seperation = string.length - string.indexOf('.');
            if (seperation > 3)
                return string.substring(0, string.length - seperation + 3);
            else if (seperation == 2)
                return string + '0';
            return string;
        }

        function calcit() {
            window.document.calform.nrg01.value = fix(.5 * window.document.calform.wt01.value / 7000 / grav * window.document.calform.ve01.value * window.document.calform.ve01.value);
            window.document.calform.nrg02.value = fix(.5 * window.document.calform.wt02.value / 7000 / grav * window.document.calform.ve02.value * window.document.calform.ve02.value);
            window.document.calform.nrg03.value = fix(.5 * window.document.calform.wt03.value / 7000 / grav * window.document.calform.ve03.value * window.document.calform.ve03.value);
            window.document.calform.nrg04.value = fix(.5 * window.document.calform.wt04.value / 7000 / grav * window.document.calform.ve04.value * window.document.calform.ve04.value);
        }

    </SCRIPT>


    <script src="{% static 'imrunicorn/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><strong>{{ release.application_title }}</i></strong></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- <li><a href="#">Removed</a></li> -->

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master Po <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Hand Load Data/Tools</li>
                    <li><a href="{% url 'load_data:loads' %}">Load Data</a></li>
                    <li><a class="dropdown-item" href="{% url 'load_data:foot_pound_calculator' %}">Foot Pound Calculator</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Shooting Tips</li>
                    <li><a class="dropdown-item" href="{% url 'shooting_logbook:six_steps' %}">6 Little Steps</a></li>
                      <li><a class="dropdown-item" href="{% url 'shooting_logbook:reading_wind_mirage' %}">Reading Wind Mirage</a></li>
                  </ul>
                </li>


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logbooks<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Groundhog Removal Logbook</li>

                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:all_groundhog_locations' %}"> Groundhog Hole Location List</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:all_groundhog_removals' %}"> 2020 Groundhog Removals</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:groundhog_removal_scoreboard' %}"> Groundhog Removal Scoreboard</a></li>
                  </ul>
                </li>


    {% ifequal user.groups.all.0.name "FarmInvites" %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Farm Invites<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Registered Users Only</li>
                      <li><a class="dropdown-item" href="{% url 'farm_invite:farm_invites_home' %}"> Invite List</a></li>
                      <li><a class="dropdown-item" href="{% url 'farm_invite:farm_invites_view_hidden_listings' %}"> Invite List Pending</a></li>
                      <li><a class="dropdown-item" href="https://www.google.com/maps/place/Jiffy+Mart/@39.6056655,-77.000262,17z/data=!4m12!1m6!3m5!1s0x89c847d9d584655b:0x7994fa4a7bc83269!2sCarroll+County+Regional+Airport!8m2!3d39.6056126!4d-77.0028988!3m4!1s0x89c847c541bc5c41:0x844c85f83cf496f7!8m2!3d39.6061025!4d-76.9975848" target="_blank"> Meet-up Location</a></li>
                      <li><a class="dropdown-item" href="{% url 'farm_invite:missing_contact_info' %}"> Can He Reach Me?</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Info For All</li>
                    <li><a class="dropdown-item" href="{% url 'farm_invite:farm_check_list' %}"> What Should I Bring?</a></li>
                  </ul>
                </li>
    {% endifequal %}


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Common Tools<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">News Actions</li>
                    <li><a class="dropdown-item" href="{% url 'all_news' %}">All News</a></li>
                      {% if request.user.is_authenticated %}
                      <li><a class="dropdown-item" href="/news/news_api/" target="_blank">News API</a></li>
                      {% endif %}

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Poll Actions</li>
                    <li><a href="{% url 'polls:index' %}">View Active Polls</a></li>
                  </ul>
                </li>

                {% ifequal user.groups.all.0.name "blogger-disabled" %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Blog Actions</li>
                    <li><a class="dropdown-item" href="{% url 'blog_read' %}">Read Blog</a></li>
                  </ul>
                </li>
                {% endifequal %}

                {% include 'imrunicorn/menu_user_toolbox.html' %}

            </ul>
            {% include 'imrunicorn/loginpartial.html' %}
        </div>
    </div>
</div>

<div class="container body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>

        <p>&copy; {{ copy_year }} - Drunken Dwarves, Irate Gnomes, and {{ release.author }} <br/>
            Version: {{ release.version }} - Build Date: {{ release.build_date }}
        </p>

        {% comment %}
        {% if not request.user.is_anonymous %}
        <p>
            Username : {{ user|title }}<br />
            User Id  : {{ user.pk|title }}<br />
            GhogKills: Not Tracked, yet.<br />
        </p>
        {% endif %}
        {% endcomment %}

    </footer>
</div>

<script src="{% static 'imrunicorn/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'imrunicorn/scripts/bootstrap.js' %}"></script>
<script src="{% static 'imrunicorn/scripts/respond.js' %}"></script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>
