<!DOCTYPE html>
<html>
<head>
    {% load auth_extras %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>

        {% comment %}
            This doesn't work the way i think/want because it doesn't pick up sub domains...
        {% endcomment %}

        {{ title }}
        {% if release.cut != 'prod' %}
            - {{ release.cut }}
        {% endif%}
    </title>

    {% load static %}
    <!-- <link href="{% static 'imrunicorn/content/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/> -->
    <!-- <link href="{% static 'imrunicorn/content/bootstrap.css' %}" rel="stylesheet" type="text/css"/> -->
    <!-- <link href="{% static 'imrunicorn/content/site.css' %}" rel="stylesheet" type="text/css"/> -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <style>
        div.ben_format_pretty {
            max-width:95%;
            margin: auto;
            background-color: white;
            opacity: 0.9;
            padding: 20px;
            border-radius: 10px;
        }

        div.ben_format_pretty_border {
            max-width:95%;
            margin: auto;
            border: 3px solid #73AD21;
        }

        .main {
            min-height:100vh;
            height: 100%;
        }

        .footer {
            min-height: 100px;
            background-color: white;
            opacity: 0.9;
            padding: 10px;
            border-radius: 10px;
            margin-top: 30px;
        }

        .wallpapered {
            background-color: white;
            opacity: 0.9;
            padding: 20px;
        }

        body {
            background: black;
            background-image: url('{% static '/imrunicorn/content/5027.png' %}');
        }

    </style>


    <script src="https://kit.fontawesome.com/9a11d62cbf.js" crossorigin="anonymous"></script>
    {% block extra_head %}

    {% endblock %}


    <link href="{% static 'imrunicorn/favicon.ico' %}" rel="shortcut icon" type="image/png"/>


    <SCRIPT language="JavaScript">
        var grav = 32.175;

        function fix(num) {
            string = "" + num;
            if (string.indexOf('.') == -1)
                return string + '.00';
            seperation = string.length - string.indexOf('.');
            if (seperation > 3)
                return string.substring(0, string.length - seperation + 3);
            else if (seperation == 2)
                return string + '0';
            return string;
        }

        function calcit() {
            window.document.calform.nrg01.value = fix(.5 * window.document.calform.wt01.value / 7000 / grav * window.document.calform.ve01.value * window.document.calform.ve01.value);
            window.document.calform.nrg02.value = fix(.5 * window.document.calform.wt02.value / 7000 / grav * window.document.calform.ve02.value * window.document.calform.ve02.value);
            window.document.calform.nrg03.value = fix(.5 * window.document.calform.wt03.value / 7000 / grav * window.document.calform.ve03.value * window.document.calform.ve03.value);
            window.document.calform.nrg04.value = fix(.5 * window.document.calform.wt04.value / 7000 / grav * window.document.calform.ve04.value * window.document.calform.ve04.value);
        }

    </SCRIPT>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


    <script src="{% static 'imrunicorn/scripts/modernizr-2.6.2.js' %}"></script>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style='width: 95%'>

        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
                <strong>{{ release.application_title }}</i></strong>
                {% if "dev" in release.cut  %}
                    <i class="fab fa-dev">&nbsp;</i>
                {% elif "test" in release.cut  %}
                    <i style="color:red;"  class="fas fa-vial">&nbsp;</i>
                {% elif "debug" in release.cut %}
                    <i style="color:yellow" class="fas fa-bug">&nbsp;</i>
                {% endif %}
            </a>

        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {% include 'imrunicorn/menu_masterpo.html' %}
                {% include 'imrunicorn/menu_logbooks.html' %}
                <!-- {% include 'imrunicorn/menu_farminvites.html' %} -->
                <!-- {% include 'imrunicorn/menu_puppy_fostering.html' %} -->
                <!-- {% include 'imrunicorn/menu_dad_jokes.html' %} -->
                <!-- {% include 'imrunicorn/menu_misc.html' %} -->
                {% include 'imrunicorn/menu_toolboxes.html' %}

            </ul>
            {% include 'imrunicorn/loginpartial.html' %}
        </div>
    </div>
</div>

<div class="container body-content" style='width: 95%'>
    <div class="main">
        {% block content %}
        {% endblock %}

    </div>

</div>


<div class="container justify-content-center text-center">
    <footer class="footer container-fluid" style="width: 75%">
 <div class="container-fluid">
  <div class="row text-center">
   <div class="col-lg-12">© {{ copy_year }} - Drunken Dwarves, Irate Gnomes, and {{ release.author }}</div>
   <div class="col-lg-12">Version: {{ release.version }} - Build Date: {{ release.build_date }}</div>
      <div class="col-lg-14">
          <br />
          <span id="siteseal">
              <br />
              <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=s6ZRfZaLsoE24WHV2OfHJKt76hKbS8UzH5DNTzKcLcFnH61heBtsybvUpZD7"></script></span>
          </span><br />

          <br />

          <a href="https://www.youtube.com/c/BenSpelledABC" target="_blank">
              <img src="{% static '/imrunicorn/content/youtube.svg' %}" height="20px" /></a>

          <a href="https://gunicorn.org/" target="_blank">
              <img src="{% static '/imrunicorn/content/gunicorn.png' %}" height="20px" /></a>

          <a href="https://mariadb.com/" target="_blank">
              <img src="{% static '/imrunicorn/content/mariadb_logo.svg' %}" height="20px" /></a>

          <a href="https://www.djangoproject.com/" target="_blank">
              <img src="{% static '/imrunicorn/content/djangoPythonLogo.png' %}" height="20px" /></a>

          <!-- <a href="https://www.jenkins.io/" target="_blank">
              <img src="{% static '/imrunicorn/content/jenkins_cowboy.png' %}" height="20px" /></a> -->

          <br /><br />
          <a href="https://ammoseek.com" target="_blank"><img src="https://ammoseek.com/img/AmmoSeek2A.png" height="20px" /></a>
          <img src="{% static '/imrunicorn/content/ruger_logo.png' %}" height="20px" />
          <img src="{% static '/imrunicorn/content/savage_arms_chief.png' %}" height="20px" />
      </div>
  </div>


     <br />
  <div class="row justify-content-center text-center">
   <div class="col-lg-4">
    <!-- <a href="/">Terms and conditions</a> -->
   </div>
   <div class="col-lg-4">
    <!-- <a href="/">Privacy policy</a> -->
   </div>
   <div class="col-lg-4">
    <!-- <a href="/">Careers</a> -->
   </div>
  </div>
 </div>
</footer>
</div>

<!--
<script src="{% static 'imrunicorn/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'imrunicorn/scripts/bootstrap.js' %}"></script>
<script src="{% static 'imrunicorn/scripts/respond.js' %}"></script>
<script src="{% static 'imrunicorn/js/Chart.min.js' %}"></script>
-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- removed at some point -->
<!-- <script src="../../dist/js/bootstrap.min.js"></script> -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>



    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>

{% block scripts %}{% endblock %}

</body>
</html>
