
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
      <ul class="dropdown-menu">

          {% comment %}
          {% if user.is_staff %}
          <li class="dropdown-header">Toolbox</li>
          <li><a href="{% url 'admin_toolbox:restart_gunicorn_and_nginx' %}">Request Web Restart</a></li>
          <li><a href="{% url 'admin_toolbox:restart_gunicorn' %}">Request Gunicorn Restart</a></li>
          <li><a href="{% url 'admin_toolbox:restart_nginx' %}">Request Nginx Restart</a></li>
          <li><a href="{% url 'admin_toolbox:cancel_all_restarts' %}">Cancel All Restart Requests</a></li>
          <li role="separator" class="divider"></li>
          {% endif %}
          {% endcomment %}

          <li class="dropdown-header">Content Collections</li>
          <li><a href="{% url 'content_collection:video_list' %}">Video List</a></li>
          <li><a href="{% url 'content_collection:videos_latest' %}">Latest Video</a></li>
          <li><a href="{% url 'content_collection:carousel_recent' %}">Carousel (Recent)</a></li>
          <li><a href="{% url 'content_collection:carousel' %}">Carousel (All)</a></li>
          <li><a href="{% url 'content_collection:dnd5e_list' %}">D&amp;D 5e</a></li>
          <li><a href="{% url 'content_collection:fantasy_grounds_list' %}">Fantasy Grounds</a></li>
          <li><a href="{% url 'content_collection:insult' %}">Random Insult</a></li>
          <li><a href="{% url 'content_collection:blank' %}">Misc</a></li>

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Status Watcher</li>
          <li><a href="{% url 'status_watcher:home' %}">View List</a></li>
          {% if user.is_staff %}
          <li><a href="{% url 'status_watcher:view_watches_reset' %}">Reset List</a></li>
          {% endif %}
          {% endcomment %}


          {% ifequal user.groups.all.0.name "DisabledLinksViewer" %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Staff Toolbox</li>
          <li><a href="{% url 'load_data:create_caliber' %}">View/Create Calibers</a></li>
          <li><a href="{% url 'load_data:create_powder' %}">View/Create Powders</a></li>
          <li><a href="{% url 'load_data:create_projectile' %}">View/Create Projectiles</a></li>
          <li><a href="{% url 'load_data:create_firearm' %}">View/Create Firearm</a></li>
          <li><a href="#">Firearm Details</a></li>
          <li><a href="#">Load Details</a></li>
          <li><a href="#">DOPE Details</a></li>
          <li><a href="#">Groundhog Details</a></li>
          <li><a href="#">Submit news</a></li>
          <li><a href="#">STAFF Details</a></li>
          {% endifequal %}

          {% ifequal user.groups.all.0.name "DisabledLinksViewer" %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Days Since</li>
          {% comment %}<li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=3/18/2020">Fit Hit Shan</a></li>{% endcomment %}
          <li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=10/22/2019">First</a></li>
          <li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=11/2/2019">Second</a></li>
          {% endifequal %}

          {% include 'imrunicorn/menu_toolbox_api.html' %}

      </ul>
    </li>

