<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logs <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Groundhog Removal Logbook</li>

                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:all_groundhog_locations' %}"> Hole Location List</a></li>

                      {% comment %}
                      {% if user.is_authenticated %}
                      <li><a class="dropdown-item"
                             href="https://www.google.com/maps/d/edit?mid=1oKonLT_hz3f0q0_tMRIxC7GcoOjll455&ll=39.619590204745705%2C-77.02708839986629&z=17" target="_blank">View All On GoogleMaps</a></li>
                      {% endif %}
                      {% endcomment %}

                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:all_groundhog_removals_base' %}"> Removals</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:charts_by_month' %}"> Charts</a></li>
                      {% comment %}
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:groundhog_removal_scoreboard_annual' %}"> Removal Scoreboard Annual</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:page_charts' %}"> Charts (simple)</a></li>
                      {% endcomment %}

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Deer Harvest Logbook</li>
                      <li><a class="dropdown-item" href="{% url 'deer_harvest_logbook:point_system' %}">Point System</a></li>
                      <li><a class="dropdown-item" href="{% url 'deer_harvest_logbook:all_harvests' %}">All Harvests</a></li>
                      <li><a class="dropdown-item" href="{% url 'deer_harvest_logbook:page_charts' %}">Harvest Charts</a></li>

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Deer Wait List</li>
                      <li><a class="dropdown-item" href="{% url 'deer_wait_list:list_view' %}">View Wait List</a></li>
                      <li><a class="dropdown-item" href="{% url 'deer_wait_list:info' %}">Info</a></li>

                      {% comment %}
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Game Logbooks</li>
                      <li><a class="dropdown-item" href="{% url 'call_of_the_wild:page_need_zone_times' %}">COTW: Need Zone Times</a></li>
                      <li><a class="dropdown-item" href="{% url 'call_of_the_wild:page_trophy_stats' %}">COTW: Trophy Stats</a></li>
                      {% endcomment %}

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Call of the Wild</li>
                      <li><a class="dropdown-item" href="{% url 'call_of_the_wild:page_need_zone_times' %}">Need Zone Times</a></li>
                      <li><a class="dropdown-item" href="{% url 'call_of_the_wild:page_trophy_stats' %}">Trophy Score Info</a></li>
                      <!-- <li><a class="dropdown-item" href="{% url 'activity_log:blank' %}">Activity Logbooks</a></li> -->
                      <!-- <li><a class="dropdown-item" href="{% url 'shooting_challenge:home' %}">Shooting Challenges</a></li> -->
                      <!-- <li><a class="dropdown-item" href="{% url 'dcsa_info:info' %}">DCSA Info</a></li> -->
                      <!-- <li><a class="dropdown-item" href="{% url 'shooting_challenge:home' %}">Shot Log</a></li> -->
                      <!-- <li><a href="{% url 'activity_log:afk_lady' %}"> AFK Lady</a></li> -->
                      <!-- <li><a href="{% url 'farm_invite:home' %}"> Farm Invites</a></li> -->
                      <!-- <li><a href="{% url 'event_photo_album:home' %}"> Event Photo Album</a></li> -->

                  </ul>
                </li>