<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dad Jokes <span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li class="dropdown-header">View Options</li>
    <li><a href="{% url 'dad_jokes:home' %}">Home</a></li>
    <li><a class="dropdown-item" href="#">Most Recent (coming soon)</a></li>
    <li><a class="dropdown-item" href="#">Most Viewed (coming soon)</a></li>
    <li><a class="dropdown-item" href="#">Random (coming soon)</a></li>
    
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Editor Options</li>
    <li><a class="dropdown-item" href="#">Upload (coming soon)</a></li>
    <li><a class="dropdown-item" href="#">Hotlink (coming soon)</a></li>

    </ul>
</li>
