<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logbooks<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Groundhog Removal Logbook</li>

                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:all_groundhog_locations' %}"> Hole Location List</a></li>

                      {% comment %}
                      {% if user.is_authenticated %}
                      <li><a class="dropdown-item"
                             href="https://www.google.com/maps/d/edit?mid=1oKonLT_hz3f0q0_tMRIxC7GcoOjll455&ll=39.619590204745705%2C-77.02708839986629&z=17" target="_blank">View All On GoogleMaps</a></li>
                      {% endif %}
                      {% endcomment %}

                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:all_groundhog_removals' %}"> Removals</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:charts_by_sex' %}"> Charts By Sex</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:charts_by_time' %}"> Charts By Time</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:charts_by_month' %}"> Charts By Month</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:charts_by_temperature' %}"> Charts By Temperature</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:charts_by_cloud_level' %}"> Charts By Cloud Level</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:charts_by_remover' %}"> Charts By Remover</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:groundhog_removal_scoreboard_annual' %}"> Removal Scoreboard Annual</a></li>
                      <li><a class="dropdown-item" href="{% url 'groundhog_logbook:page_charts' %}"> Charts (simple)</a></li>

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Deer Harvest Logbook</li>
                      <li><a class="dropdown-item" href="{% url 'deer_harvest_logbook:point_system' %}">Point System</a></li>
                      <li><a class="dropdown-item" href="{% url 'deer_harvest_logbook:all_harvests' %}">All Harvests</a></li>
                      <li><a class="dropdown-item" href="{% url 'deer_harvest_logbook:page_charts' %}">Harvest Charts</a></li>

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Deer Wait List</li>
                      <li><a class="dropdown-item" href="{% url 'deer_wait_list:list_view' %}">View Wait List</a></li>
                      <li><a class="dropdown-item" href="{% url 'deer_wait_list:info' %}">Info</a></li>

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Game Logbooks</li>
                      <li><a class="dropdown-item" href="{% url 'call_of_the_wild:page_need_zone_times' %}">COTW: Need Zone Times</a></li>
                      <li><a class="dropdown-item" href="{% url 'call_of_the_wild:page_trophy_stats' %}">COTW: Trophy Stats</a></li>

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Activity Logbooks</li>
                      <li><a class="dropdown-item" href="{% url 'activity_log:blank' %}">Activity Logbooks</a></li>

                  </ul>
                </li>