{% comment %}
This section of the menu is only for users that have logged in.
There will be more things added to it in time but the first thing on the
menu is to have a way to CRUD their firearms and loads.
{% endcomment %}


    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Toolboxes<span class="caret"></span></a>
      <ul class="dropdown-menu">

          {% comment %}
          {% if user.is_staff %}
          <li class="dropdown-header">Toolbox</li>
          <li><a href="{% url 'admin_toolbox:restart_gunicorn_and_nginx' %}">Request Web Restart</a></li>
          <li><a href="{% url 'admin_toolbox:restart_gunicorn' %}">Request Gunicorn Restart</a></li>
          <li><a href="{% url 'admin_toolbox:restart_nginx' %}">Request Nginx Restart</a></li>
          <li><a href="{% url 'admin_toolbox:cancel_all_restarts' %}">Cancel All Restart Requests</a></li>
          <li role="separator" class="divider"></li>
          {% endif %}
          {% endcomment %}

          <li class="dropdown-header">Content Collection: Videos</li>
          <li><a href="{% url 'content_collection:video_list' %}">Video List</a></li>
          <li><a href="{% url 'content_collection:videos_latest' %}">Latest Video</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Content Collection: Carousel</li>
          <li><a href="{% url 'content_collection:carousel_recent' %}">Recent</a></li>
          <li><a href="{% url 'content_collection:carousel' %}">All</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Content Collection: D&amp;D 5e</li>
          <li><a href="{% url 'content_collection:dnd5e_list' %}">List</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Content Collection: Fantasy Grounds</li>
          <li><a href="{% url 'content_collection:fantasy_grounds_list' %}">List</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Content Collection: Misc</li>
          <li><a href="{% url 'content_collection:blank' %}">Misc</a></li>
          <li role="separator" class="divider"></li>

          <li class="dropdown-header">Status Watcher</li>
          <li><a href="{% url 'status_watcher:home' %}">View List</a></li>
          {% if user.is_staff %}
          <li><a href="{% url 'status_watcher:view_watches_reset' %}">Reset List</a></li>
          {% endif %}


          {% ifequal user.groups.all.0.name "DisabledLinksViewer" %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Staff Toolbox</li>
          <li><a href="{% url 'load_data:create_caliber' %}">View/Create Calibers</a></li>
          <li><a href="{% url 'load_data:create_powder' %}">View/Create Powders</a></li>
          <li><a href="{% url 'load_data:create_projectile' %}">View/Create Projectiles</a></li>
          <li><a href="{% url 'load_data:create_firearm' %}">View/Create Firearm</a></li>
          <li><a href="#">Firearm Details</a></li>
          <li><a href="#">Load Details</a></li>
          <li><a href="#">DOPE Details</a></li>
          <li><a href="#">Groundhog Details</a></li>
          <li><a href="#">Submit news</a></li>
          <li><a href="#">STAFF Details</a></li>
          {% endifequal %}

          {% ifequal user.groups.all.0.name "DisabledLinksViewer" %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Days Since</li>
          {% comment %}<li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=3/18/2020">Fit Hit Shan</a></li>{% endcomment %}
          <li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=10/22/2019">First</a></li>
          <li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=11/2/2019">Second</a></li>
          {% endifequal %}

      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li class="dropdown-header">Core</li>
          <li><a href="/api/" target="_blank">All API EndPoints</a></li>

          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Announcements</li>
          <li><a href="/api/announcements/what_is_new/" target="_blank">News</a></li>
          <li><a href="/api/announcements/what_is_new_random_one/" target="_blank">News (Random One)</a></li>
          <li><a href="/api/announcements/main_page_blurbs/" target="_blank">Main Page Blurbs</a></li>
          <li><a href="/api/announcements/page_blurb_overrides/" target="_blank">Page Blurb Overrides</a></li>

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Content Collections</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Deer Harvest Logbook</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Deer Wait List</li>
          <li><a href="/api/deer_wait_list/Recipient/" target="_blank">Recipient</a></li>
          <li><a href="/api/deer_wait_list/MeatCut/" target="_blank">Meat Cut</a></li>
          <li><a href="/api/deer_wait_list/Flavor/" target="_blank">Flavor</a></li>
          <li><a href="/api/deer_wait_list/RequestedOrder/" target="_blank">Requested Order</a></li>

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Farm Invites</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Groundhog Logbook</li>
          <li><a href="/api/groundhog_logbook/RemovalsByLocation/" target="_blank">Removals By Location</a></li>
          <li><a href="/api/groundhog_logbook/Location/" target="_blank">Locations</a></li>

          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Load Data</li>
          <li><a href="/api/loaddata/Caliber/" target="_blank">Caliber</a></li>
          <li><a href="/api/loaddata/Firearm/" target="_blank">Firearm</a></li>
          <li><a href="/api/loaddata/Powder/" target="_blank">Powder</a></li>
          <li><a href="/api/loaddata/Projectile/" target="_blank">Projectile</a></li>
          <li><a href="/api/loaddata/Brass/" target="_blank">Brass</a></li>
          <li><a href="/api/loaddata/Primer/" target="_blank">Primer</a></li>
          <li><a href="/api/loaddata/HandLoad/" target="_blank">HandLoad</a></li>
          <li><a href="/api/loaddata/EstimatedDope/" target="_blank">EstimatedDope</a></li>

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Polls</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

      </ul>
    </li>

