
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MD CCW <span class="caret"></span></a>
      <ul class="dropdown-menu">

          <li class="dropdown-header">Clearance Related</li>
          <li><a href="{% url 'page_foia' %}"> FOIA &amp; You</a></li>
      </ul>
    </li>

