
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
      <ul class="dropdown-menu">

          <li class="dropdown-header">Primary Tools</li>
          <li><a href="{% url 'meme_leach:subreddit' %}"> Reddit Memes</a></li>
          <li><a href="{% url 'content_collection:home' %}"> Content Collection</a></li>
          <li><a href="{% url 'bingo:home' %}"> Bingo Cards</a></li>
          <li><a href="{% url 'load_data:create_home' %}">CRUD Load Data</a></li>

          {% include 'imrunicorn/menu_toolbox_api.html' %}

      </ul>
    </li>

