
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donate<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Cash/Credit Donations</li>
                    <li><a class="dropdown-item" href="{% url 'donate_cash_app' %}">Cash App (Preferred Method)</a></li>
                    <li><a class="dropdown-item" href="{% url 'donate_steel_targets' %}">Steel Targets</a></li>
                  </ul>
                </li>
