{% comment %}
This section of the menu is only for users that have logged in.
There will be more things added to it in time but the first thing on the
menu is to have a way to CRUD their firearms and loads.
{% endcomment %}

{% if user.is_authenticated %}

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Toolboxes<span class="caret"></span></a>
      <ul class="dropdown-menu">
          {% if user.is_staff %}
          <li class="dropdown-header">Admin Toolbox</li>
          <li><a href="{% url 'admin_toolbox:restart_gunicorn_and_nginx' %}">Request Web Restart</a></li>
          <li><a href="{% url 'admin_toolbox:restart_gunicorn' %}">Request Gunicorn Restart</a></li>
          <li><a href="{% url 'admin_toolbox:restart_nginx' %}">Request Nginx Restart</a></li>
          <li><a href="{% url 'admin_toolbox:cancel_all_restarts' %}">Cancel All Restart Requests</a></li>

          {% endif %}

          {% ifequal user.groups.all.0.name "DisabledLinksViewer" %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Staff Toolbox</li>
          <li><a href="{% url 'load_data:create_caliber' %}">View/Create Calibers</a></li>
          <li><a href="{% url 'load_data:create_powder' %}">View/Create Powders</a></li>
          <li><a href="{% url 'load_data:create_projectile' %}">View/Create Projectiles</a></li>
          <li><a href="{% url 'load_data:create_firearm' %}">View/Create Firearm</a></li>
          <li><a href="#">Firearm Details</a></li>
          <li><a href="#">Load Details</a></li>
          <li><a href="#">DOPE Details</a></li>
          <li><a href="#">Groundhog Details</a></li>
          <li><a href="#">Submit news</a></li>
          <li><a href="#">STAFF Details</a></li>
          {% endifequal %}

          {% ifequal user.groups.all.0.name "DisabledLinksViewer" %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Days Since</li>
          {% comment %}<li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=3/18/2020">Fit Hit Shan</a></li>{% endcomment %}
          <li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=10/22/2019">First</a></li>
          <li><a class="dropdown-item" href="{% url 'days_since' %}?input_date=11/2/2019">Second</a></li>
          {% endifequal %}

      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li class="dropdown-header">Announcements</li>
          <li><a href="/api/what_is_new/" target="_blank">What Is New</a></li>
          <li><a href="/api/main_page_blurbs/" target="_blank">Main Page Blurbs</a></li>
          <li><a href="/api/page_blurb_overrides/" target="_blank">Page Blurb Overrides</a></li>
          <li><a class="dropdown-item" href="/news/news_api/" target="_blank">News</a></li>
      </ul>
    </li>

    {% ifequal user.groups.all.0.name "AFKLady" %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AFKBot<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><a href="#">AFKLady</a></li>
          <li><a href="#">AFKSir</a></li>
      </ul>
    </li>
    {% endifequal %}



{% endif %}