
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li class="dropdown-header">Core</li>
          <li><a href="/api/" target="_blank">All API EndPoints</a></li>
          <li><a href="/api/announcements/what_is_new_random_one/" target="_blank">News (Random One)</a></li>

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Announcements</li>
          <li><a href="/api/announcements/what_is_new/" target="_blank">News</a></li>
          <li><a href="/api/announcements/what_is_new_random_one/" target="_blank">News (Random One)</a></li>
          <li><a href="/api/announcements/main_page_blurbs/" target="_blank">Main Page Blurbs</a></li>
          <li><a href="/api/announcements/page_blurb_overrides/" target="_blank">Page Blurb Overrides</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Content Collections</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Deer Harvest Logbook</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Deer Wait List</li>
          <li><a href="/api/deer_wait_list/Recipient/" target="_blank">Recipient</a></li>
          <li><a href="/api/deer_wait_list/MeatCut/" target="_blank">Meat Cut</a></li>
          <li><a href="/api/deer_wait_list/Flavor/" target="_blank">Flavor</a></li>
          <li><a href="/api/deer_wait_list/RequestedOrder/" target="_blank">Requested Order</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Farm Invites</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Groundhog Logbook</li>
          <li><a href="/api/groundhog_logbook/RemovalsByLocation/" target="_blank">Removals By Location</a></li>
          <li><a href="/api/groundhog_logbook/Location/" target="_blank">Locations</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Load Data</li>
          <li><a href="/api/loaddata/Caliber/" target="_blank">Caliber</a></li>
          <li><a href="/api/loaddata/Firearm/" target="_blank">Firearm</a></li>
          <li><a href="/api/loaddata/Powder/" target="_blank">Powder</a></li>
          <li><a href="/api/loaddata/Projectile/" target="_blank">Projectile</a></li>
          <li><a href="/api/loaddata/Brass/" target="_blank">Brass</a></li>
          <li><a href="/api/loaddata/Primer/" target="_blank">Primer</a></li>
          <li><a href="/api/loaddata/HandLoad/" target="_blank">HandLoad</a></li>
          <li><a href="/api/loaddata/EstimatedDope/" target="_blank">EstimatedDope</a></li>
          {% endcomment %}

          {% comment %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Polls</li>
          <li><a href="#" target="_blank">Coming Soon</a></li>
          {% endcomment %}

      </ul>
    </li>
