{% extends "imrunicorn/layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<br/>
<div class="row ben_format_pretty">
    <div align="left" class="col-md-12">
        For privacy reasons, this content should come from the database so it's not in the source code. I'll
        get there eventually. This is just a placeholder for now.
        <br /><br />
        <center><img src="{% static '/imrunicorn/content/qr-about.png' %}" height="200px" /></center>
    </div>
</div>

<br/><br/>

{% endblock %}
