{% extends "imrunicorn/layout.html" %}
{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<br />
<div class="row ben_format_pretty">
    <div class="col-md-12" align="left">
    {% autoescape off %}
        <p>Status: {{ table_data.status }}</p>
        <p>Output: {{ table_data.output }}</p>
    {% endautoescape %}
    </div>
</div>

<br/><br/>

{% endblock %}
