{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}


{% block content %}
{% load humanize %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
        {{ blurb }}
        {% else %}
        The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<div class="row ben_format_pretty">
    <div class="col-md-12">

        {% autoescape off %}
        {% if all_news != None %}
        {% for news in all_news %}
        <hr style="height:2px;border-width:0;color:gray;background-color:red"/>
        <div style="font-size: x-large">
            {% if news.Is_Sticky %}
            <i style="color:red;font-size: xx-large" class="fas fa-pastafarianism"></i>
            {% endif %}
            {% if news.Image_One or news.Image_Two %}
            <i style="color:blue;font-size: large" class="fas fa-camera"></i>
            {% endif %}
            <a href="{% url 'news_by_pk' %}{{ news.pk }}">{{ news.Date }} - <i>{{ news.Blurb }}</i></a>
        </div>
        <br/>
        {{ news.Body |slice:":250" }}

        {% if news.Body|length > 250 %}
        ...
        <br/><br/>
        <a href="{% url 'news_by_pk' %}{{ news.pk }}" class="btn btn-primary">Read Full Post</a>
        {% endif %}

        {% endfor %}
        {% endif %}
        {% endautoescape %}

        </div>
    </div>

    <div align="center">
    <p align="center">
        {% if all_news.has_other_pages %}
        <ul class="pagination">
            {% if all_news.has_previous %}
                <li><a href="?page={{ all_news.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            <li><a href="?page=1">Newest</a></li>
            {% for l in all_news.paginator.page_range %}
                {% if l <= all_news.number|add:5 and l >= all_news.number|add:-5 %}
                    <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="?page={{all_news.paginator.num_pages}}">Oldest</a></li>

            {% if all_news.has_next %}
                <li><a href="?page={{ all_news.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </p>
        </div>


    </div>
</div>

{% endblock %}
