{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}


{% block content %}
{% load humanize %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<div class="row ben_format_pretty">
    <div class="col-md-12">

{% autoescape off %}
        {% if news_pk != None %}

                    <div style="font-size: x-large">


                        {% if user.is_staff or user.get_username == news.Author.username %}
                            <!-- <a href="{% url 'news_by_pk' %}{{ news.pk }}"><i style="color:black;font-size: large" class="fas fa-dumpster-fire"></i></a>
                            <a href="{% url 'news_by_pk' %}{{ news.pk }}"><i style="color:black;font-size: large" class="fas fa-recycle"></i></a>
                             -->
                            <a href="{% url 'what_is_new_edit' %}{{ news_pk.pk }}"><i style="color:black;font-size: large" class="fas fa-edit"></i></a>
                            
                        {% endif %}

                    {% if news_pk.Is_Sticky %}
                        <i style="color:red;font-size: xx-large" class="fas fa-pastafarianism"></i>
                    {% endif %}
                        {{ news_pk.Date }} - <i>{{ news_pk.Blurb }}</i>
                    </div><br/>
        {% if news_pk.Image_One %}
        <br />
        <div align="center">
            <a href="{{ news_pk.Image_One.url }}" target="_blank"><img src="{{ news_pk.Image_One.url }}" style="width: 30%" /></a>
        </div>
        {% endif %}
        {% if news_pk.Image_Two %}
        <br />
        <div align="center">
            <a href="{{ news_pk.Image_Two.url }}" target="_blank"><img src="{{ news_pk.Image_Two.url }}" style="width: 30%" /></a>
        </div>
        {% endif %}

                {{ news_pk.Body }}

        {% endif %}
{% endautoescape %}


    </div>
</div>

{% endblock %}
