{% extends "imrunicorn/layout.html" %}

{% block extra_head %}


{% endblock %}



{% block content %}
<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            This might take a bit to load, thank you for your patience.
        {% endif %}</p>
</div>


<div class="row ben_format_pretty">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
    
</div>

{% endblock %}
