{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}


{% block content %}
{% load humanize %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>

<div class="row ben_format_pretty">
    <div class="col-md-12">

{% autoescape off %}
        {% if news_pk != None %}

        <form method="post" enctype="multipart/form-data" id="edit_form">
          {% csrf_token %}
 <!-- 
          <label for="fname">Author:</label>
          <input type="text" id="Author" name="Author" value="{{ news_pk.Author }}"><br /><br />

          <label for="fname">Date:</label>
          <input type="text" id="Date" name="Date" value="{{ news_pk.Date }}"><br /><br /> -->

          <label for="fname">Blurb:</label>
          <input type="text" id="Blurb" name="Blurb" value="{{ news_pk.Blurb }}"><br /><br />

          <label for="fname">Body:</label>
          <textarea rows="10" cols="50" id="Body" name="Body" form="edit_form">{{ news_pk.Body }}</textarea><br /><br />
<!-- 
          <label for="fname">Image_One:</label><br />
          <input type="file" id="Image_One" name="Image_One" accept="image/*" value="{{ news_pk.Image_One }}"><br /><br />

          <label for="fname">Image_Two:</label><br />
          <input type="file" id="Image_Two" name="Image_Two" accept="image/*" value="{{ news_pk.Image_Two }}"><br /><br /> -->

          <label for="fname">Published:</label>
          {% if news_pk.Published == True%}
            <input type="checkbox" id="Published" name="published{{ news_pk.id }}" value="clicked" checked><br /><br />
          {% else %}
            <input type="checkbox" id="Published" name="published{{ news_pk.id }}" value="clicked"><br /><br />
          {% endif %}

          <label for="fname">Is_Sticky:</label>
          {% if news_pk.Is_Sticky == True%}
            <input type="checkbox" id="Is_Sticky" name="sticky{{ news_pk.id }}" value="clicked" checked><br /><br />
          {% else %}
            <input type="checkbox" id="Is_Sticky" name="sticky{{ news_pk.id }}" value="clicked"><br /><br />
          {% endif %}

          <button type="submit">Update</button> | <button type="submit" name="action_remove">Delete</button>
      </form>
      {% endif %}
{% endautoescape %}


    </div>
</div>

{% endblock %}
