{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}


{% block content %}
{% load humanize %}

<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
</div>


{% if list_of_holes != None %}

<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">
            These could be a few feet off so look around a little bit.<br /><br />
            <strong>
                <a href="https://www.google.com/maps/d/edit?mid=1oKonLT_hz3f0q0_tMRIxC7GcoOjll455&ll=39.619590204745705%2C-77.02708839986629&z=17"
                   target="_blank">
                    View All On GoogleMaps</a></strong><br /><br />

            <!-- https://www.google.com/maps/search/?api=1&query=<lat>,<lng> -->
            <!-- https://www.google.com/maps/search/?api=1&query=39.619507,-77.029337 -->

            {% for item in list_of_holes %}
          
                <b>Location: </b>{{ item.nickname | title }}<br />
                <a href="https://www.google.com/maps/search/?api=1&query={{ item.latitude }},{{ item.longitude }}"
                                   target="_blank">{{ item.nickname | title }} - ({{ item.latitude }},{{ item.longitude }})</a><br />
                {% if item.hole_location_picture %}
                    Hole Picture:<br />
                    <a href="{{ item.hole_location_picture.url }}" target="_blank">
                        <img src="{{ item.hole_location_picture.url }}" style="width: 30%" /></a><br />
                {% endif %}
                <br />


            {% if forloop.last  == False %}
                <hr style="height:2px;border-width:0;color:gray;background-color:red" />
            {% else %}
                <br />
            {% endif %}


            {% endfor %}
        </div>

    </div>
</div>
{% else %}
<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">
            It appears we haven't started to track holes!
        </div>

    </div>
</div>
{% endif %}


{% endblock %}
