{% extends "imrunicorn/layout.html" %}

{% block extra_head %}

{% endblock %}


{% block content %}
{% load humanize %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">{% if blurb|length > 0 %}
            {{ blurb }}
        {% else %}
            The robot that lives at this website is AFK and hasn't picked a page blurb yet.
        {% endif %}</p>
    <p class="lead"><strong>Location: </strong>{{ weather.full_response.name }}<br />
        <strong>Temp:</strong> {{ weather.temperature }}&deg;F <i>(Feels Like: {{ weather.feels_like }}&deg;F)</i><br />
        <strong>Wind Speed:</strong> {{ weather.wind_speed }}mph
        <strong>Wind Direction:</strong>
        {{ comment }}
        <a href="https://www.sasquatchstation.com/images/dual-compass-rose.png" target="_blank"></a>
        {{ endcomment }}

        {{ weather.wind_dir }}&deg;
        ({{ weather.wind_dir_word }})<br />
        <strong>Sky:</strong> {{ weather.description }}
    </p>
</div>

{% if all_news != None %}

<div class="row ben_format_pretty">
    <div class='post-body entry-content' id='post-body-3156955225064661913' itemprop='description articleBody'>
        <div style="text-align: left;font-family:times new roman;">

            {% for news in all_news %}
                <b>Removal Date:</b> {{ news.removal_date }}<br />
                <b>Removal Time:</b> {{ news.removal_time }}<br />

                {% if news.estimated_temperature > -49 %}
                    <b>Estimated Temperature:</b> {{ news.estimated_temperature }}&deg;F<br />
                {% else %}
                    <b>Estimated Temperature:</b> No data<br />
                {% endif %}

                {% if news.wind_speed > -0.00 %}
                    <b>Wind Speed:</b> {{ news.wind_speed }} mph<br />
                {% else %}
                    <b>Wind Speed:</b> No Data<br />
                {% endif %}

                {% if news.wind_dir > -1 %}
                    <b>Wind Direction:</b> {{ news.wind_dir }}&deg; ({{ news.wind_dir_word }})<br />
                {% else %}
                    <b>Wind Direction:</b> No Data<br />
                {% endif %}

                <b>Cloud Level:</b> {{ news.cloud_level }}<br />


                <b>Shooter:</b>
            <a href="{% url 'groundhog_logbook:all_groundhog_removals' %}{{ news.shooter.pk }}">
                {{ news.shooter.userprofile.preferred_display_name|default:news.shooter.username }}
            </a><br />
                <b>Firearm Info:</b><a href="{% url 'load_data:page_firearm_detail' %}{{ news.firearm.pk }}">{{ news.firearm }}</a><br />

                {% comment %} add link to load... {% endcomment %}
                <b>Load Detail:</b>
                {% if user.is_authenticated %}
                    <a href="{% url 'load_data:loads' %}{{ news.load.pk }}">{{ news.load }}</a>

                {% else %}
                    <i>(Logged In Users Only)</i>
                {% endif %}
                <br />


                <b>Location:</b>{% if user.is_authenticated %}<a href="https://www.google.com/maps/search/?api=1&query={{ news.location.latitude }},{{ news.location.longitude }}"
                      target="_blank">{{ news.location }}</a>{% else %} <i>(Logged In Users Only)</i>{% endif %}<br />


                <b>Estimated Weight (lbs):</b> {{ news.estimated_weight_lbs }}<br />

                {% if news.sex == "MALE" %}
                    <b>Sex:</b> {{ news.sex }} - <i class="fas fa-mars"></i><br />
                {% elif news.sex == "FEMALE" %}
                    <b>Sex:</b> {{ news.sex }} - <i class="fas fa-venus"></i><br />
                {% else %}
                    <b>Sex:</b> {{ news.sex }} - <i class="far fa-question-circle"></i><br />
                {% endif %}

                {% if news.foot_hold_trapped %}
                    <b>Foothold Trapped:</b> </i>{{ news.foot_hold_trapped }} - <i style="color:red;" class="fas fa-compress-arrows-alt"></i><br />
                {%  endif %}


                {% if news.excessive_wound_cavity %}
                    <b>Excessive Wound Cavity:</b> </i>{{ news.excessive_wound_cavity }} - <i style="color:red;" class="fas fa-biohazard"></i><br />
                {%  endif %}
                <b>Shot Distance Yards:</b> {{ news.shot_distance_yards }}<br />
                <b>Yards Ran:</b> {{ news.yards_ran }}<br />

            {% if news.extra_info %}
            <b>Extra Info:</b><br /> {% autoescape off %}{{ news.extra_info }}{% endautoescape %}</br>
            {% endif %}

            {% if news.kill_shot.url != None%}
                    <b>Image 1:</b><br />
                    <a href="{{ news.kill_shot.url }}" target="_blank"><img src="{{ news.kill_shot.url }}" style="width: 30%" /></a><br />
            {% endif %}

            {% if news.kill_shot_two.url != None%}
                    <b>Image 2:</b><br />
                    <a href="{{ news.kill_shot_two.url }}" target="_blank"><img src="{{ news.kill_shot_two.url }}" style="width: 30%" /></a><br />
            {% endif %}


            {% for bonus_photo in news.removal_photos.all %}
                    <b>Bonus Image: {{ forloop.counter }}</b><br />
                    <a href="{{ bonus_photo.kill_shot.url }}" target="_blank"><img src="{{ bonus_photo.kill_shot.url }}" style="width: 30%" /></a><br />
            {% endfor %}


            {% if forloop.last  == False %}
                <hr style="height:2px;border-width:0;color:gray;background-color:red" />
            {% else %}
                <br />
            {% endif %}

            {% endfor %}
        </div>

    </div>
</div>


    <div align="center">
    <p align="center">
        {% if all_news.has_other_pages %}
        <ul class="pagination">
            {% if all_news.has_previous %}
                <li><a href="?page={{ all_news.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            <li><a href="?page=1">Newest</a></li>
            {% for l in all_news.paginator.page_range %}
                {% if l <= all_news.number|add:5 and l >= all_news.number|add:-5 %}
                    <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="?page={{all_news.paginator.num_pages}}">Oldest</a></li>

            {% if all_news.has_next %}
                <li><a href="?page={{ all_news.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </p>
        </div>


{% endif %}


{% endblock %}
