{% extends "imrunicorn/layout.html" %}

<script>
{% block jquery %}
var endpoint = '/groundhog_logbook/api/chart/by_temperature/data/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,

    success: function(data){
        console.log(data)
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Groundhog Removals (By Temperature)',
            data: defaultData,

            backgroundColor: [
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)',
                'rgba(200, 0, 0, 1)'
            ],
            borderColor: [
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)',
                'rgba(160,160,160,1)'
            ],
            borderWidth: 1



        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}


<div class="jumbotron wallpapered">
    <h1>{{ title }}</h1>
    <p class="lead">
        {% if blurb %}
            {{ blurb }}
        {% else %}
            More charts are coming, stay tuned!
        {% endif %}
    </p>
</div>


<div class="row ben_format_pretty">
    <div align="center">
        <div>
            I've rounded the temps to the nearest 5 degrees. 90-94 becomes 90, 95-99 becomes 100.
        </div>
        <div class='col-sm-12'>
            <div class='col-sm-6' style="width:100%"><canvas id="myChart"></canvas></div>
        </div>
    </div>
</div>

{% endblock content %}